<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
</head>

<body>
<div id="score-app" layout:fragment="content">
    <!--/*@thymesVar id="save" type="java.lang.String"*/-->
    <!--/*@thymesVar id="error" type="java.lang.String"*/-->
    <div th:if="${save eq 'success'}">
        <div id="success" class="alert alert-success alert-dismissible" role="alert">
            <strong>Success!</strong> Updated Successfully.
        </div>
    </div>
    <div th:if="${save eq 'error'}">
        <div id="error" class="alert alert-danger alert-dismissible" role="alert">
            <strong>Error!</strong> <pre th:text="${error}"></pre>
        </div>
    </div>
    <!--
    <div id="seasons">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Seasons</div>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div th:each="season : ${seasons}" class="col-xs-10 col-md-2 col-lg-2">
                                        <a th:id="${season.getShortName().replaceAll(' ','')}" th:href="@{/admin/scores/{id}/ (id=${season.getId()})}">
                            <span th:text="${season.getShortName()}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <script>
        function selectDate(e) {
            var myselect = document.getElementById("select-date");
            console.log(e);
            console.log(window.location.pathname);
            console.log(myselect.options[myselect.selectedIndex].value);
            window.location = myselect.options[myselect.selectedIndex].value;
        }
    </script>
    <div th:if="${season ne null}">
        <div th:replace="scores/season">
        </div>
    </div>
</div>
</body>
</html>

