<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
</head>

<body>
<div id="score-app" layout:fragment="content">
    <!--/*@thymesVar id="save" type="java.lang.String"*/-->
    <!--/*@thymesVar id="error" type="java.lang.String"*/-->
    <div th:if="${save eq 'success'}">
        <div id="success" class="alert alert-success alert-dismissible" role="alert">
            <strong>Success!</strong> Updated Successfully.
        </div>
    </div>
    <div th:if="${save eq 'error'}">
        <div id="error" class="alert alert-danger alert-dismissible" role="alert">
            <strong>Error!</strong>
            <pre th:text="${error}"></pre>
        </div>
    </div>

    <script>

    </script>
    <div th:if="${season ne null}">
        <div id="stats" class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Stats </div>
            </div>
            <div class="panel-body">
            <table class="table table-bordered table-condensed table-striped table-grid">
            <thead>
            <tr>
                <th style="width:50px;">#</th>
                <th>Team</th>
                <th style="width:50px;">W</th>
                <th style="width:50px;">L</th>
                <th>SW</th>
                <th>SL</th>
                <th>RW</th>
                <th>RL</th>
                <th style="width:60px;">PCT</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="stats" type="com.society.leagues.client.api.domain.Team"*/-->
            <!--/*@thymesVar id="team" type="com.society.leagues.client.api.domain.Team"*/-->
            <tr th:id="${team.getId()}" th:each="team : ${stats}">
                <td th:text="${team.getStats().rank}">1</td>
                <td th:text="${team.getName()}">1</td>
                <td th:text="${team.getStats().wins}">1</td>
                <td th:text="${team.getStats().loses}">1</td>
                <td th:text="${team.getStats().setWins}">1</td>
                <td th:text="${team.getStats().setLoses}">1</td>
                <td th:text="${team.getStats().racksWon}">1</td>
                <td th:text="${team.getStats().racksLost}">1</td>
                <td style="width: 75px; min-width: 75px" th:text="${team.getStats().getWinPct()}">1</td>
            </tr>
            </tbody>
            </table>
            </div>
        </div>
        <div th:replace="scores/season">
        </div>
    </div>
</div>
</body>
</html>

