<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Society Leagues</title>
    <link rel="stylesheet" href="/resources/public/css/society.css">
    <link rel="stylesheet" href="/resources/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/resources/css/jquery.datetimepicker.css">
</head>

<body id="leagueApp" ng-controller="HomeCtrl">

<div class="please-wait-dialog" ng-hide="vm.appReady">
    <img class="please-wait-spinner" src="/resources/img/loading.gif">
</div>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Society League</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#requestChallenge">Request Challenge</a></li>
                <li><a href="#contact">{{vm.userName}}</a></li>
                <li><a ng-click="logout()" href="/logout">Logout </a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<header ng-class="{'app-ready': vm.appReady}"></header>

<main class="container not-ready" ng-class="{'app-ready': vm.appReady}" ng-cloak>
    <tt-error-messages></tt-error-messages>
    <div class="info-messages"
         ng-style="{'opacity': vm.infoMessages.length > 0 ? 1 : 0, 'z-index': vm.infoMessages.length > 0 ? 10 : -10}">
        <img class="info-icon" src="/resources/img/info-icon.png">

        <div class="messages-group">
            <div ng-repeat="info in vm.infoMessages">{{info.description}}</div>
        </div>
    </div>

    <div class="container">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingUserStats">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseUserStats"
                           aria-expanded="true" aria-controls="collapseUserStats">
                            User Stats
                        </a>
                    </h4>
                </div>
                <div id="collapseUserStats" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingUserStats">
                    <div class="panel-body">
                        <div id="user-stats">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Matches</th>
                                    <th>Wins</th>
                                    <th>Loses</th>
                                    <th>Racks</th>
                                    <th>Percentage</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td ng-bind="vm.stats.matches"></td>
                                    <td ng-bind="vm.stats.wins"></td>
                                    <td ng-bind="vm.stats.loses"></td>
                                    <td ng-bind="vm.stats.racks"></td>
                                    <td ng-bind="vm.stats.percentage"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingLeader">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#leaderCollapse"
                           aria-expanded="false" aria-controls="leaderCollapse">
                            Leaders
                        </a>
                    </h4>
                </div>

                <div id="leaderCollapse" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingLeader">
                    <div class="list-group">
                        <div id="leader">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th><a href=""
                                           ng-click="reverse=!reverse;orderLeaders('points', reverse)">Points</a></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="user in vm.leaderBoard | limitTo: 10"
                                    ng-class="{'table-odd': $index % 2 == 1, 'table-even': $index % 2 == 0}">
                                    <td>{{vm.getName(user)}}</td>
                                    <td>{{user.points}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingUserMatches">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#userMatchesCollapse"
                           aria-expanded="false" aria-controls="userMatchesCollapse">
                            Matches
                        </a>
                    </h4>
                </div>

                <div id="userMatchesCollapse" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingUserMatches">
                    <div class="list-group">
                        <div id="user-match-history">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Opponent</th>
                                    <th>Win</th>
                                    <th>Racks</th>
                                    <th>Opponent Racks</th>
                                    <th>Type</th>
                                    <th><a href=""
                                           ng-click="reverse=!reverse;orderPlayerResults('teamMatch.matchDate', reverse)">Match
                                        Date</a></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="match in vm.results"
                                    ng-class="{'table-odd': $index % 2 == 1, 'table-even': $index % 2 == 0}">
                                    <td>{{vm.getOpponent(match).user.firstName}}</td>
                                    <td>{{vm.isWin(match)}}</td>
                                    <td>{{vm.getRacks(match)}}</td>
                                    <td>{{vm.getOpponentRacks(match)}}</td>
                                    <td>{{vm.getDivision(match.teamMatch)}}</td>
                                    <td>{{vm.getMatchDate(match)}}</td>
                                </tr>
                                </tbody>
                            </table>

                            <ul>
                                <li>
                                    <a ng-enabled="vm.totalPages > 0" ng-click="previous()"
                                       ng-disabled="vm.currentPage == 1">&#171;</a>
                                </li>
                                <li ng-repeat="page in pages()">
                                    <!--<a ng-enabled="vm.totalPages > 0" ng-click="goToPage($index + 1)" ng-class="{'pure-button-active': page == vm.currentPage}">{{page}}</a></li>-->
                                    <a ng-enabled="vm.totalPages > 0" ng-click="goToPage($index + 1)">{{page}}</a>
                                </li>
                                <li>
                                    <a ng-enabled="vm.totalPages > 0" ng-disabled="vm.currentPage == vm.totalPages"
                                       ng-click="next()">
                                        &#187;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
                    <div id="pending">
                        <h3> Pending Challenges </h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Challenger</th>
                                <th>Opponent</th>
                                <th>MatchDate</th>
                                <th>Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="c in vm.pendingChallenges"
                                ng-class="{'table-odd': $index % 2 == 1, 'table-even': $index % 2 == 0}">
                                <td>{{vm.getName(c.teamMatch.playersHome[0].user)}}</td>
                                <td>{{vm.getName(c.teamMatch.playersAway[0].user)}}</td>
                                <td>{{vm.getChallengeDate(c)}}</td>
                                <td>{{vm.getDivision(c.teamMatch)}}</td>
                            </tr>
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>

                    <div id="accepted">
                        <h3> Accepted Challenges </h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Challenger</th>
                                <th>Opponent</th>
                                <th>MatchDate</th>
                                <th>Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="c in vm.acceptedChallenges"
                                ng-class="{'table-odd': $index % 2 == 1, 'table-even': $index % 2 == 0}">
                                <td>{{vm.getName(c.teamMatch.playersHome[0].user)}}</td>
                                <td>{{vm.getName(c.teamMatch.playersAway[0].user)}}</td>
                                <td>{{vm.getChallengeDate(c)}}</td>
                                <td>{{vm.getDivision(c.teamMatch)}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="challengeForm">

                    </div>

                    <div id="results">
                        <h3> All Results (Limited to 15 at the moment) </h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Challenger</th>
                                <th>Opponent</th>
                                <th>Challenger Racks</th>
                                <th>Opponent Racks</th>
                                <th>Winner</th>
                                <th>Type</th>
                                <th>MatchDate</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="match in vm.allResults | limitTo: 15"
                                ng-class="{'table-odd': $index % 2 == 1, 'table-even': $index % 2 == 0}">
                                <td>{{vm.getName(match.playerHome.user)}}</td>
                                <td>{{vm.getName(match.playerAway.user)}}</td>
                                <td>{{match.homeRacks}}</td>
                                <td>{{match.awayRacks}}</td>
                                <td>{{vm.getName(vm.getWinner(match).user)}}</td>
                                <td>{{vm.getDivision(match.teamMatch)}}</td>
                                <td>{{vm.getMatchDate(match)}}</td>
                            </tr>
                            </tbody>
                        </table>

                        <ul>
                            <li>
                                <a ng-enabled="vm.totalPages > 0" ng-click="previous()"
                                   ng-disabled="vm.currentPage == 1">&#171;</a>
                            </li>
                            <li ng-repeat="page in pages()">
                                <!--<a ng-enabled="vm.totalPages > 0" ng-click="goToPage($index + 1)" ng-class="{'pure-button-active': page == vm.currentPage}">{{page}}</a></li>-->
                                <a ng-enabled="vm.totalPages > 0" ng-click="goToPage($index + 1)">{{page}}</a>
                            </li>
                            <li>
                                <a ng-enabled="vm.totalPages > 0" ng-disabled="vm.currentPage == vm.totalPages"
                                   ng-click="next()">
                                    &#187;</a>
                            </li>
                        </ul>
                    </div>
                </div>
</main>

<script type="text/javascript"
        data-main="/resources/js/run-home-app"
        src="/resources/bower_components/requirejs/require.js">
</script>
<script src="/resources/public/js/jquery.min.js"></script>
<script src="/resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>