@charset "UTF-8";

body 
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px; 
	background: #42413C; 
	margin: 0; 
	padding: 0; 
	color: #000;
}

.container 
{ 
	width: 980px; 
	background: #FFF; 
	margin: 0 auto; 
	overflow:hidden; 
}

.header 
{
	background: #0C051E;
}

.header_logo 
{
	 cursor:pointer;
}

.menu 
{
	background-color:#7c1318;
	padding:2px; 
	padding-left:150px;
}

.menu_item 
{
	background-color:#7c1318;
	color:#FFF; 
	cursor:pointer; 
	margin-right:30px; 
	font-size:12px; 
}

.menu_item:hover 
{
	color:#FF0;
}

.app { margin-right:50px; font-size:16px; }


.nav_container 
{ 
	width: 148px; 
	float: left; 
	background-color:#FFF; 
	overflow:hidden; 
	border-right:#333 solid 1px; 
}

.cloth 
{
	background-color:#7c1318;
	/*background-image:url(images/cloth.jpg); */
	color:#FFF; 
}

.nav_scroller 
{ 
	width:164px; 
	overflow:auto; 
}

.nav 
{
	width:148px;
}

.content_container 
{ 
	width: 840px; 
	float: left; 
	background-color:#FFF; 
	overflow:hidden; 
}

.content_scroller 
{
	width:856px; 
	overflow:auto;
}

.content 
{
	overflow:hidden; 
	width:840px;
}

.inner_content 
{
	margin:10px; 
	font-size:14px; 
	color:#333;
}

.content_text 
{
	font-size:12px; 
	color:#666; 
	margin:10px;
}

.footer 
{ 
	height:17px; 
	background:#FFF; 
	position: relative; 
	clear: both; 
	color:#7c1318; 
	padding-left:10px; 
	border-top:#888 solid 1px;
}

.search_input
{
	border:#0C9 solid 1px;
	padding:1px;
	margin:1px;
	background:#000;
	width:60px;
}

.clickable 
{
	cursor:pointer;
}

.clickable:hover 
{
	color:#7c1318;
}

div.quick_view
{
	position:absolute;
	background-color:#FAFAFA;
	border:#033 solid 4px;
	box-shadow:4px 4px 12px #444;
	border-radius:8px;
}

img.button_16 
{
	cursor:pointer; 
	height:16px; 
	margin-right:10px; 
	display:inline;
}

img.no_margin 
{ 
	margin:0px;
}

div.nav_item 
{
	margin:3px; 
	margin-bottom:5px; 
	cursor:pointer; 
	color:#FEE;
}

div.nav_item:hover 
{ 
	color:#EE0;
}


div.nav_item_no_click 
{
	margin:3px; 
	margin-bottom:5px; 
	cursor:pointer; 
	color:#BDB;
}

div.indent { padding-left:10px; }

img.nav_item 
{
	width:134px; 
	border:#996 solid 1px; 
	opacity:.9;
	cursor:pointer;
}

img.nav_item:hover
{
	opacity:1;
}

.black_type 
{
	color:#000;
}

.nav_active 
{ 
	border:rgba(192, 192, 192, 1) solid 1px; 
	background-color:#7c1318; 
	border-radius:3px; 
	padding:1px 6px 1px 6px; 
	border-radius:9px; 
	color:#FFF;
}

.nav_inactive 
{
	border:rgba(128, 164, 128, .1) solid 1px; 
	background-color:inherit; 
	border-radius:3px; 
	padding:1px 6px 1px 6px; 
	border-radius:9px;
}

table.col
{
	margin-right:5px; 
	font-size:12px; 
	color:#666;
}

input.col
{
	margin:0px; 
	padding:1px; 
	border:#666 solid 1px; 
	width:98%; 
}

td.col
{
	padding-right:5px; 
	border-right:#999 dotted 1px;
	vertical-align:top;
}

table.c_data 
{
	font-size:11px; 
	vertical-align:top;
}

td.col_upper_header 
{
	padding-bottom:4px;
} 

td.c_data_h 
{
	color:#555; 
	vertical-align:top; 
	border-bottom:#7c1318 solid 2px; 
	font-weight:bold;
}

td.c_data_h_alt 
{
	color:#555; 
	vertical-align:top; 
	border-top:#7c1318 solid 2px; 
	font-weight:bold;
}

td.c_data_thick 
{
	color:#555; 
	border-bottom:#7c1318 solid 3px; 
	padding-bottom:4px;
}

td.c_data_thick_u 
{
	color:#555; 
	border-top:#7c1318 solid 2px; 
	padding-top:8px;
}

td.dotted_lb 
{
	border-bottom:#999 dotted 1px;
} 

.nb 
{
	border-bottom:none; 
	border-top:none; 
	border-left:none; 
	border-right:none; 
	border:none;
}

td.c_data 
{
	border-bottom:#7c1318 solid 1px; 
}

td.c_data_t 
{
	border-top:#7c1318 solid 1px; 
}

td.spacer { padding-top:20px; }
td.indent { padding-left:4px; }

td.h_divider 
{
	border-top:#BBB solid 1px; 
	border-bottom:#BBB solid 1px; 
	background-color:#EEE; 
	padding:5px;
}

tr.selector 
{
	background-color:inherit; 
	color:inherit; 
	cursor:pointer;
}

tr.selector:hover 
{
	background-color:#ADA; 
	color:#000;
}

tr.tr_selected 
{
	background-color:#096; 
	color:#FFF;
}

tr.color_W { color:#088; }
tr.color_L { color:#800; }

td.selector 
{ 
	background-color:inherit; 
	color:inherit; 
	cursor:pointer;
}

td.selector:hover 
{ 
	color:#000; 
	text-decoration:underline;
}

div.soft_round 
{ 
	border:#7c1318 solid 2px; 
	border-radius:24px; 
	padding:5px; 
	background-color:#FFF; 
	box-shadow:3px 3px 7px #AAA; 
}

div.rounded_gold 
{
	border:#7c1318 solid 2px; 
	background-color:#FFF; 
	border-radius:25px; 
	padding:15px; 
}

td.table_label 
{
	text-align:right; 
	padding-right:3px; 
	font-size:12px; 
	color:#262;
}

td.table_data 
{
	font-size:12px;
}

input.tdata 
{ 
	width:92%; 
	margin:0px; 
	padding:0px 4px 1px 4px; 
	border:#533 solid 1px; 
	border-radius:4px; 
	background-color:#FDD;
}

input.stdata
{ 
	margin:0px; 
	padding:1px; 
	padding:0px 4px 1px 4px; 
	border:#353 solid 1px; 
	border-radius:4px; 
	background-color:#DFD;
}

table.column_table 
{ 
	font-size:12px;
}


input.wide_input 
{
	width:250px;
}

input.normal_input 
{
	width:125px;
}

input.small_input 
{
	width:50px;
}

.cell_fit 
{
	width:98%;
}

.no_border 
{
	border:none;
}

input.simple 
{
	margin:0px; 
	margin-top:1px; 
	padding:1px; 
	border:#666 solid 1px;
}

img.check_ind 
{
	height:14px;
	opacity:.6; 
	margin-left:5px;
}

span.error_message
{
	color:#777; 
	margin-left:10px; 
	font-size:12px; 
	position:relative; 
	top:-1px;
}

div.dialog 
{ 
	position:absolute; 
	background-color:#FFF; 
	border:#7c1318 solid 2px; 
	border-radius:12px; 
	padding:8px; 
	box-shadow: 6px 6px 12px #333; 
	z-index:1000;
	overflow:hidden;
}