<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Society Leagues</title>
    <link rel="stylesheet" href="/resources/bower_components/pure/pure.css">
    <link rel="stylesheet" href="/resources/bower_components/pure/grids-responsive.css">
    <link rel="stylesheet" href="/resources/public/css/pure-theme.css">
    <link rel="stylesheet" href="/resources/public/css/calories-tracker.css">
    <link rel="stylesheet" href="/resources/css/jquery.datetimepicker.css">
</head>

<body class="pure-skin-theme" id="caloriesCounterApp" ng-controller="CaloriesTrackerCtrl">

<div class="please-wait-dialog" ng-hide="vm.appReady">
    <img class="please-wait-spinner" src="/resources/img/loading.gif">
</div>

<header class="page-header pure-g not-ready" ng-class="{'app-ready': vm.appReady}">
    <div class="pure-u-lg-1-2 pure-u-1">

        <a class="pure-menu-heading" href="#">
            <img class="logo" src="/resources/img/logo.png">
        </a>
        <span class="header-element page-title">League</span>
    </div>

    <div class="pure-u-lg-1-2 pure-u-1 utilities">
        <div class="header-element username">
            <div class="username-placeholder" ng-hide="vm.userName"></div>
            <span ng-cloak>{{vm.userName}}</span>
        </div>
        <div class="header-element">
            <a class="logout" href="#" ng-click="logout()">Logout</a>
        </div>
    </div>
</header>

<main class="container not-ready" ng-class="{'app-ready': vm.appReady}" ng-cloak>
    <tt-error-messages></tt-error-messages>
    <div class="info-messages"
         ng-style="{'opacity': vm.infoMessages.length > 0 ? 1 : 0, 'z-index': vm.infoMessages.length > 0 ? 10 : -10}">
        <img class="info-icon" src="/resources/img/info-icon.png">

        <div class="messages-group">
            <div ng-repeat="info in vm.infoMessages">{{info.description}}</div>
        </div>
    </div>
     <div id="match-history">
        <table class="pure-table">
            <thead>
            <tr>
                <th>Challenger</th>
                <th>Opponent</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="match in vm.matches" ng-class="{'pure-table-odd': $index % 2 == 1, 'pure-table-even': $index % 2 == 0}">
                <td>{{match.home.name}}</td>
                <td>{{match.away.name}}</td>
            </tr>
            </tbody>
        </table>

        <ul class="pure-paginator paginator">
            <li>
                <a ng-enabled="vm.totalPages > 0" class="pure-button prev" ng-click="previous()"
                   ng-disabled="vm.currentPage == 1">&#171;</a>
            </li>

            <li ng-repeat="page in pages()">
                <a ng-enabled="vm.totalPages > 0" class="pure-button" ng-click="goToPage($index + 1)"
                   ng-class="{'pure-button-active': page == vm.currentPage}">{{page}}</a></li>

            <li>
                <a ng-enabled="vm.totalPages > 0" ng-disabled="vm.currentPage == vm.totalPages"
                   class="pure-button next" ng-click="next()">&#187;</a>
            </li>
        </ul>

    </div>
</main>

<body>
<script type="text/javascript"
        data-main="/resources/js/run-calories-tracker"
        src="/resources/bower_components/requirejs/require.js">
</script>
</body>

</html>