@charset "UTF-8";

.um 
{
	width: 100%;
	overflow: hidden;
}

.um li 
{
	font-size: .8em;
	width: 25%;
}

.um li a 
{
	float:left;
	background-color: transparent;	
	margin: 3px 0px;
	padding: 10px 15px 10px 15px;
	border-left:none;
	border-bottom:none;
	border-right:none;
	color: #fff;
	text-decoration: none;
	text-align: center;
	width: 100%;
}

.um li:hover, .um li a:focus, .um li.current_page_item 
{
	background: url(../images/nav-bg.jpg) repeat-x left;		
}

.um li:hover a, .um li.current_page_item a 
{
	border-left:none;
	border-bottom:none;
	border-right:none;
	color: #fff;
	text-align: center;
}