/* CSS  */
@import url("//hello.myfonts.net/count/2ae551");
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
  display: block; 
 }
@font-face {
	font-family: 'Coldsmith';
	src: url('fonts/2AE551_0_0.eot');
	src: url('fonts/2AE551_0_0.eot?#iefix') format('embedded-opentype'),
		 url('fonts/2AE551_0_0.woff') format('woff'),
		 url('fonts/2AE551_0_0.ttf') format('truetype'),
		 url('fonts/2AE551_0_0.svg#svgColdsmith') format('svg');
}
* {
	margin: 0;
	font-size: 100%;
}

body {
	background: url(../images/zwartevilt_light.jpg) repeat top left;
}
/* #inner-content { 
	background-color: #FFF; 
}*/
summary {
	display: block;
	font-family: helvetica;
}
audio, canvas, video {
	display: inline-block;
	*display:inline;
	*zoom:1
}
audio:not([controls]) {
	display: none;
	height: 0
}
[hidden] {
	display:none
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}
html, button, input, select, textarea {
	font-family: sans-serif
}

a:focus {
	outline: thin dotted
}
a:active, a:hover {
	outline: 0
}
h1 {
	font-size: 2em;
	margin: 0.67em 0
}
h2 {
	font-size: 1.5em;
	margin: 0.83em 0
}
h3 {
	font-size: 1.17em;
	margin: 1em 0
}
h4 {
	font-size: 1em;
	margin: 1.33em 0
}
h5 {
	font-size: 0.83em;
	margin: 1.67em 0
}
h6 {
	font-size: 0.75em;
	margin: 2.33em 0
}
abbr[title] {
	border-bottom: 1px dotted
}
b, strong {
	font-weight: bold
}
blockquote {
	margin: 1em 40px
}
dfn {
	font-style: italic
}
mark {
	background: #ff0;
	color: #000
}
p, pre {
	margin: 1em 0
}
code, kbd, pre, samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word
}
q {
	quotes: none
}
q:before, q:after {
	content: '';
	content: none
}
small {
	font-size: 75%
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sup {
	top: -0.5em
}
sub {
	bottom: -0.25em
}
dl, menu, ol, ul {
	margin: 1em 0
}
dd {
	margin: 0 0 0 40px
}
menu, ol, ul {
	padding: 0 0 0 40px
}
nav ul, nav ol {
	list-style: none;
	list-style-image: none
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic
}
svg:not(:root) {
	overflow: hidden
}
figure {
	margin: 0
}
form {
	margin: 0
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em
}
legend {
	border: 0;
	padding: 0;
	white-space: normal;
*margin-left:-7px
}
button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
*vertical-align:middle
}
button, input {
	line-height: normal
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
*overflow:visible
}
button[disabled], input[disabled] {
	cursor: default
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
*height:13px;
*width:13px
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none
}
button::-moz-focus-inner, input::-moz-focus-inner {
border:0;
padding:0
}
textarea {
	overflow: auto;
	vertical-align: top
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
p {
	-webkit-hyphens: auto;
	-epub-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto
}
b, strong, .strong {
	font-weight: bold
}
dfn, em, .em {
	font-style: italic
}
small, .small {
	font-size: 75%
}
ul, ol {
	padding: 0;
	list-style-type: none
}
dd {
	margin: 0
}
.sidebar ul, .sidebar ol, .commentlist {
	list-style: none
}
.clearfix {
	zoom: 1
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table
}
.clearfix:after {
	clear: both
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.image-replacement {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden
}
span.amp {
	font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif !important;
	font-style: italic
}
.text-left {
	text-align: left
}
.text-center {
	text-align: center
}
.text-right {
	text-align: right
}
.alert-help, .alert-info, .alert-error, .alert-success {
	margin: 10px;
	padding: 5px 18px;
	border: 1px solid
}
.alert-help {
	border-color: #e8dc59;
	background: #ebe16f
}
.alert-info {
	border-color: #bfe4f4;
	background: #d5edf8
}
.alert-error {
	border-color: #f8cdce;
	background: #fbe3e4
}
.alert-success {
	border-color: #deeaae;
	background: #e6efc2
}
.button, .button:visited {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 1px solid #be0d37;
	border-top-color: #db0f3f;
	border-left-color: #db0f3f;
	padding: 4px 12px;
	color: #fff;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px rgba(0,0,0,0.75);
	cursor: pointer;
	margin-bottom: 20px;
	line-height: 21px;
	border-radius: 4px;
	background-color: #e40f42;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f01d4f), to(#e40f42));
	background-image: -webkit-linear-gradient(top, #f01d4f, #e40f42);
	background-image: -moz-linear-gradient(top, #f01d4f, #e40f42);
	background-image: -o-linear-gradient(top, #f01d4f, #e40f42);
	background-image: linear-gradient(to bottom, #f01d4f, #e40f42)
}
.button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
	color: #fff;
	border: 1px solid #be0d37;
	border-top-color: #9d0a2d;
	border-left-color: #9d0a2d;
	background-color: #cc0e3b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#cc0e3b));
	background-image: -webkit-linear-gradient(top, #e40f42, #cc0e3b);
	background-image: -moz-linear-gradient(top, #e40f42, #cc0e3b);
	background-image: -o-linear-gradient(top, #e40f42, #cc0e3b);
	background-image: linear-gradient(to bottom, #e40f42, #cc0e3b)
}
.button:active, .button:visited:active {
	background-color: #f01d4f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#f01d4f));
	background-image: -webkit-linear-gradient(top, #e40f42, #f01d4f);
	background-image: -moz-linear-gradient(top, #e40f42, #f01d4f);
	background-image: -o-linear-gradient(top, #e40f42, #f01d4f);
	background-image: linear-gradient(to bottom, #e40f42, #f01d4f)
}
.blue-button, .blue-button:visited {
	border-color: #1472ad;
	text-shadow: 0 1px 1px #1472ad;
	background-color: #1681c4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1990db), to(#1681c4));
	background-image: -webkit-linear-gradient(top, #1990db, #1681c4);
	background-image: -moz-linear-gradient(top, #1990db, #1681c4);
	background-image: -o-linear-gradient(top, #1990db, #1681c4);
	background-image: linear-gradient(to bottom, #1990db, #1681c4);
	box-shadow: inset 0 0 3px #59b3ec
}
.blue-button:hover, .blue-button:focus, .blue-button:visited:hover, .blue-button:visited:focus {
	border-color: #116396;
	background-color: #1472ad;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1784c9), to(#1472ad));
	background-image: -webkit-linear-gradient(top, #1784c9, #1472ad);
	background-image: -moz-linear-gradient(top, #1784c9, #1472ad);
	background-image: -o-linear-gradient(top, #1784c9, #1472ad);
	background-image: linear-gradient(to bottom, #1784c9, #1472ad)
}
.blue-button:active, .blue-button:visited:active {
	background-color: #1990db;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1681c4), to(#1990db));
	background-image: -webkit-linear-gradient(top, #1681c4, #1990db);
	background-image: -moz-linear-gradient(top, #1681c4, #1990db);
	background-image: -o-linear-gradient(top, #1681c4, #1990db);
	background-image: linear-gradient(to bottom, #1681c4, #1990db)
}
body {
	font-family: "Helvetica",Arial,sans-serif;
	font-size: 100%;
	line-height: 1.5;
	margin: 0 auto;
	color: #565656
}

.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
}

a, a:visited {
	color: #fff;
	text-decoration: none;
}
a:hover, a:focus, a:visited:hover, a:visited:focus {
	color: #CCC;
	text-decoration: underline;
}
a:link, a:visited:link {
	-webkit-tap-highlight-color: rgba(0,0,0,0.3)
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: "Coldsmith", Helvetica, Arial, sans-serif;
	text-rendering: optimizelegibility;
	font-weight: normal;
	color: #000;
}
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
	text-decoration: none
}
h1, .h1 {
	font-size: 1.6em;
	line-height: 1.4em;
	margin: 0px 0px;
	text-indent: 15px;
}
h1.headerBorderBottom {
	border-bottom: 5px #000 solid;
}
h2.headerBorderBottom {
	border-bottom: 5px #000 solid;
	line-height: 1.4em;
}
.gray {
	color: #999;
}
h2, .h2 {
	font-size: 2em;
	line-height: 1em;
	margin: 0px 0px;
	padding: 0px 0px 0px 15px;
}
h3, .h3 {
	font-size: 1.125em
}
h4, .h4 {
	font-size: 1.1em;
	font-weight: 700
}
h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px
}
#logo {
	float:left;
	display:block;
	margin: 0px 0px; 
	padding:0px 0px;
	width: 100%;
	height:75px;
	background-image: url(../images/sbb-logo-mobile.jpg);
	background-size: 100% 100%;
	background-repeat:no-repeat;	
}
#logo a {
	display: block;
	width: 100%;
	height: 100%;
}
.nav {
	border-bottom: 0px #fff solid;
}
.nav li#menuexpand {
	display:block;
	border: 0px #fff solid;
	border-top: 0px #fff solid;
	width: 100%;
	margin: 5px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
}
.nav li#menuexpand a{
	display:block;
	height: 100%;
	width: 100%;
}
.nav {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	float: left;
	font-family:'Helvetica';
	overflow:hidden;
	width: 100%;
}
.nav ul {
	margin: 0px 0px;
	padding: 0px 0px;
	float: left;
	list-style-type: none;
	font-family:'Helvetica';
	width: 100%;
}
.nav li {
	float:left;
	height: 45px;
	display: block;
	background-color: #000;
	width: 25%;
	font-size: .6em;
	margin: 0px 0px;
	border-top: 2px #fff solid;
	border-left: 2px #fff solid;
}
.nav li a {
	float:left;
	background-color: transparent;	
	margin: 5px 0px 0px 0px;
	padding: 10px 10px 0px 10px;
	border-left:none;
	border-bottom:none;
	border-right:none;
	color: #fff;
	text-decoration: none;
	text-align: center;
	width: 100%;
}
.nav li.nomargin{
border-right: 2px #fff solid;
}
.nav li.last {
	border-left: 2px #fff solid;
	border-right: 0px #fff solid;
	width: 75%;
}
.nav li.last a {
	width: 99%;
}
.nav li.showhide {
	display: none;
}
.nav li:hover, .nav li a:focus,.nav li.current_page_item {
	background: url(../images/nav-bg.jpg) repeat-x left;		
}
.nav li:hover a, .nav li.current_page_item a {
	border-left:none;
	border-bottom:none;
	border-right:none;
	color: #fff;
	text-align: center;
}

.nav li ul.sub-menu li a, .nav li ul.children li a {
	padding-left: 30px
}
#content {
	margin-top: 2.2em
}
.byline {
	color: #999
}
.entry-content dd {
	margin-left: 0;
	font-size: 0.9em;
	color: #787878;
	margin-bottom: 1.5em
}
.entry-content img {
	margin: 0 0 1.5em 0;
	max-width: 100%;
	height: auto
}
.entry-content video, .entry-content object {
	max-width: 100%;
	height: auto
}
.entry-content pre {
	background: #eee;
	border: 1px solid #cecece;
	padding: 10px
}
.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px
}
.wp-caption img {
	max-width: 100%;
	margin-bottom: 0;
	width: 100%
}
.wp-caption p.wp-caption-text {
	font-size: 0.85em;
	margin: 4px 0 7px;
	text-align: center
}
.pagination, .wp-prev-next {
	margin: 1.1em 0 2.2em
}
.pagination {
	text-align: center
}
.pagination ul {
	display: inline-block;
	white-space: nowrap;
	padding: 0;
	clear: both;
	margin: 1px
}
.pagination ul li {
	padding: 0;
	margin: 0;
	float: left;
	display: inline;
	overflow: hidden
}
.pagination ul li a, .pagination ul li span {
	margin: 0;
	text-decoration: none;
	padding: 0;
	line-height: 1em;
	font-size: 1em;
	font-weight: normal;
	padding: .5em;
	min-width: 1em;
	display: block
}
.pagination ul li span.current {
	font-weight: bold
}
.wp-prev-next .prev-link {
	float: left
}
.wp-prev-next .next-link {
	float: right
}
.commentlist li {
	position: relative;
	clear: both;
	overflow: hidden;
	list-style-type: none;
	margin-bottom: 1.5em;
	padding: 0.7335em 10px
}
.commentlist li:last-child {
	margin-bottom: 0
}
.commentlist li ul.children {
	margin: 0
}
.commentlist li[class*=depth-] {
	margin-top: 1.1em
}
.commentlist li.depth-1 {
	margin-left: 0;
	margin-top: 0
}
.commentlist li:not(.depth-1) {
	margin-right: -10px;
	margin-left: -10px;
	margin-top: 0;
	padding-bottom: 0
}
.commentlist .odd {
	background: #eee
}
.commentlist .even {
	background: #fefefe
}
.commentlist .vcard {
	margin-left: 50px
}
.commentlist .vcard cite.fn {
	font-weight: 700;
	font-style: normal
}
.commentlist .vcard time {
	float: right
}
.commentlist .vcard time a {
	color: #999;
	text-decoration: none
}
.commentlist .vcard time a:hover {
	text-decoration: underline
}
.commentlist .vcard img.avatar {
	position: absolute;
	left: 10px;
	padding: 2px;
	border: 1px solid #cecece;
	background: #fff
}
.commentlist .comment_content {
	margin-left: 50px
}
.commentlist .comment_content p {
	margin: 0.7335em 0 1.5em;
	font-size: 1em;
	line-height: 1.5em
}
.commentlist .comment-reply-link {
	text-decoration: none;
	float: right;
	background: #4598bb;
	padding: 3px 5px;
	color: #fff;
	opacity: 0.65;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 0.9em
}
.commentlist .comment-reply-link:hover, .commentlist .comment-reply-link:focus {
	opacity: 1
}
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em
}
.respond-form form {
	margin: 0.75em 0
}
.respond-form form li {
	list-style-type: none;
	clear: both;
	margin-bottom: 0.7335em
}
.respond-form form li label, .respond-form form li small {
	display: none
}
.respond-form form input[type=text], .respond-form form input[type=email], .respond-form form input[type=url], .respond-form form textarea {
	padding: 3px 6px;
	background: #efefef;
	border: 2px solid #cecece;
	line-height: 1.5em
}
.respond-form form input[type=text]:focus, .respond-form form input[type=email]:focus, .respond-form form input[type=url]:focus, .respond-form form textarea:focus {
	background: #fff
}
.respond-form form input[type=text]:invalid, .respond-form form input[type=email]:invalid, .respond-form form input[type=url]:invalid, .respond-form form textarea:invalid {
outline:none;
border-color:#fbc2c4;
background-color:#f6e7eb;
-webkit-box-shadow:none;
-moz-box-shadow:none;
-ms-box-shadow:none;
box-shadow:none
}
.respond-form form input[type=text], .respond-form form input[type=email], .respond-form form input[type=url] {
	max-width: 400px;
	min-width: 250px
}
.respond-form form textarea {
	resize: none;
	width: 97.3%;
	height: 150px
}
#comment-form-title {
	margin: 0 0 1.1em
}
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0
}
.nocomments {
	margin: 0 20px 1.1em
}

#content {
	margin: 2px 0;
}

/* Scroller styles */
.eventsContainer {
	position: relative;

	float:left;
	width:100%;
	height: 30px;
	margin: 5px 0px 0px 0px;
	padding: 0px 0px;
	background: #000;
	}
/* Default/Master classes 

Example markup format (for horizontal scroller)
Note all DIVs are generated and should not be hard-coded

<div class="your-custom-class simply-scroll-container">
	<div class="simply-scroll-btn simply-scroll-btn-left"></div>
	<div class="simply-scroll-btn simply-scroll-btn-right"></div>
	<div class="simply-scroll-clip">
		<ul class="simply-scroll-list">
			<li>...</li>
			...
		</ul>
	</div>
</div>


*/
.simply-scroll-container { /* Container DIV - automatically generated */
	position: relative;
}
.simply-scroll-clip { /* Clip DIV - automatically generated */
	position: relative;
	overflow: hidden;
}
.simply-scroll-list { /* UL/OL/DIV - the element that simplyScroll is inited on */
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}
.simply-scroll-list li {
	padding: 0;
	margin: 0;
	list-style: none;
}
.simply-scroll-list li img {
	border: none;
	display: block;
}
.simply-scroll-btn {
	position: absolute;
	background-image: url(buttons.png);
	width: 42px;
	height: 44px;
	z-index:3;
	cursor: pointer;
}
.simply-scroll-btn-left {
	left: 6px;
	bottom: 6px;
	background-position: 0 -44px;
}
.simply-scroll-btn-left.disabled {
	background-position: 0 0 !important;
}
.simply-scroll-btn-left:hover, .simply-scroll-btn-left:focus {
	background-position: 0 -88px;
}
.simply-scroll-btn-right {
	right: 6px;
	bottom: 6px;
	background-position: -84px -44px;
}
.simply-scroll-btn-right.disabled {
	background-position: -84px 0 !important;
}
.simply-scroll-btn-right:hover, .simply-scroll-btn-right:focus {
	background-position: -84px -88px;
}
.simply-scroll-btn-up {
	right: 6px;
	top: 6px;
	background-position: -126px -44px;
}
.simply-scroll-btn-up.disabled {
	background-position: -126px 0 !important;
}
.simply-scroll-btn-up:hover, .simply-scroll-btn-up:focus {
	background-position: -126px -88px;
}
.simply-scroll-btn-down {
	right: 6px;
	bottom: 6px;
	background-position: -42px -44px;
}
.simply-scroll-btn-down.disabled {
	background-position: -42px 0 !important;
}
.simply-scroll-btn-down:hover, .simply-scroll-btn-down:focus {
	background-position: -42px -88px;
}
.simply-scroll-btn-pause {
	right: 6px;
	bottom: 6px;
	background-position: -168px -44px;
}
.simply-scroll-btn-pause:hover, .simply-scroll-btn-pause:focus {
	background-position: -168px -88px;
}

.simply-scroll-btn-pause.active {
	background-position: -84px -44px;
}
.simply-scroll-btn-pause.active:hover, .simply-scroll-btn-pause.active:focus {
	background-position: -84px -88px;
}

/* Custom class modifications - override classees

.simply-scroll is default

*/

.simply-scroll { /* Customisable base class for style override DIV */
	width: 100%;
	height: 40px;
	margin-bottom: 1em;
}

.simply-scroll .simply-scroll-clip {
	width: 100%;
	height: 40px;
}
	
.simply-scroll .simply-scroll-list {}
		
.simply-scroll .simply-scroll-list li {
	float: left;
	width: auto;
	min-width: 50px;
	max-width: 300px;
	height: 40px;
	padding: 6px 0px 0px 10px;
	list-style-type:disc;
	list-style-position:inside;
}
.simply-scroll li a {
	color:#fff;
	text-decoration:underline;
}
.simply-scroll li a:hover {
	color: #88000a;
	text-decoration: none;
}
	.simply-scroll .simply-scroll-list li img {}
	
	.simply-scroll .simply-scroll-btn {}
	
	.simply-scroll .simply-scroll-btn-left {}
	.simply-scroll .simply-scroll-btn-left.disabled {}
	.simply-scroll .simply-scroll-btn-left:hover {}
	
	.simply-scroll .simply-scroll-btn-right {}
	.simply-scroll .simply-scroll-btn-right.disabled {}
	.simply-scroll .simply-scroll-btn-right:hover {}
	
	.simply-scroll .simply-scroll-btn-up {}
	.simply-scroll .simply-scroll-btn-up.disabled {}
	.simply-scroll .simply-scroll-btn-up:hover {}
	
	.simply-scroll .simply-scroll-btn-down {}
	.simply-scroll .simply-scroll-btn-down.disabled {}
	.simply-scroll .simply-scroll-btn-down:hover {}

/* Widgets Container */
.widgetsContainer {
	display:block;
	float:left;
	width: 100%;
	margin: 5px 0px 0px 0px;
	padding: 0px 0px;
	color: #fff;
	}
.widgetColumn {
 	float: left;
 	width: 100%;
	margin: 0px 0px 5px 0px;
	min-height: 220px;
	color: #fff;
}
.widgetColumnLast {
	float: left;
 	width: 100%;
	margin: 0px 0px 0px 0px;
	min-height: 220px;
	background: #88000a;
}
.widgetHeader {
	float:left;
	width: 100%;
	height: 36px;
	margin: 0px 0px;
	background-color: #000;
	padding: 5px 5px;
	text-align: center;
}
.widgetHeader p {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	border: 1px #fff solid;
	height: 26px;
	line-height: 26px;
}
.widgetBody {
	float: left;
	width: 100%;
	min-height: 220px;
	margin: 0px 0px;
	padding: 10px;
	background-color: #88000a;
	/* Fallback (could use .jpg/.png alternatively) */
	/* SVG fallback for IE 9 (could be data URI, or could use filter) */
	background-image: url(fallback-gradient.svg); 
	
	/* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
	background-image:
	-webkit-gradient(linear, left top, left bottom, from(#88000a), to(#440405));
	
	/* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
	background-image:
	-webkit-linear-gradient(top, #88000a, #440405);
	
	/* Firefox 3.6 - 15 */
	background-image:
	-moz-linear-gradient(top, #88000a, #440405);
	
	/* Opera 11.1 - 12 */
	background-image:
	-o-linear-gradient(top, #88000a, #440405);
	
	/* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
	background-image:
	linear-gradient(to bottom, #88000a, #440405);	
}
.widgetBody ul {
	float: left;
	margin: 0px 0px;
	padding: 0px 0px;
	width: 100%;
	height: 100%;
	font-size: 12px;
}
.widgetBody li {
	float: left;
	width: 100%;
	border-bottom: 1px #fff solid;
	padding: 3px 0px;
}
/* High Run Player Styles */
.playerName {
	font-weight:bold;
	float:left;
	width: 75%;
	
}
.playerDate {
	float:left;
	text-align: right;
	width: 25%;
}
li.highrunlast {
	border-bottom: none;
	font-size: 22px;
	font-weight: 100;
	line-height: 26px;
	padding: 10px 0px 0px 0px;	
}
li.highrunlast a, li.highrunlast a:visited {
	color: #fff;
	text-decoration: underline;	
}
li.highrunlast a:hover {
	text-decoration: none;
	color: #ccc;
}
/* Facebook Widget Style to make it responsive */
#fb-root {
  display: none;
}
#fbContainer {
	margin: -10px 0px 0px -10px;
	height: 205px;
	overflow: hidden;
}
.fb_iframe_widget, .fb-like-box, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
	color: #fff;
}

/* Footer Styles */

.footer {
	width:100%;
	margin: 0px auto;
}
#inner-footer {
	float: left;
	background: rgb(0,0,0);
	background-color: rgba(0,0,0,0.5);
	color:#FFF;
	width: 100%;
	margin: 0 auto;
	min-height: 250px;
}
#inner-footer ul {
	font-family: 'Helvetica', sans-serif;
	font-size: .8em;
	padding: 15px 0px 15px 10px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
#inner-footer li {
	float: left;
	padding: 0px 10px;
	margin: 0px 0px 10px 0px;
	width: 30%;
	text-align: center;
}
#inner-footer li.footer-address {
	clear: both;
	width: 100%;
}

/* Sub Page Styles */
#content-wrapper {
	float: left; 
	margin: 5px 0px;
	width: 100%;
	height: 100%;
	background: #fff;
}
#body-content {
	width: 95%;
	margin: 10px 0px;
	min-height: 520px;
}
#body-content p {
	padding: 0px 5px 0px 15px;
}
#body-content a, #body-content a:visited {
	color: #88000a;
	font-weight: bold;
	text-decoration: none;
}
#body-content a:hover, #body-content a:focus, #body-content a:visited:hover, #body-content a:visited:focus {
	color: #999;
	text-decoration: underline;
}
#body-content ul {
	position: relative;
	list-style-position:outside;
	list-style: disc;
	margin-left: 30px;
	
}
.page-header {
	position: relative;
	float: left;
	width: 100%;
	padding: 5px 0px 15px 0px;
	margin: 0px 0px;
	color: #fff; 
	text-align: center;
	background: rgb(136,0,10);
	background: rgba(136,0,10,1);
	font-family:'Coldsmith',Helvetica;
	text-transform: uppercase;
	font-size: 54px;
	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(17, 17, 17, 1);
}
.widgetContainer-page {
 	float: left;
 	width: 100%;
	margin: 15px 0px 0px 0px;
	min-height: 220px;
	background: #fff;
	color: #fff;
}
/* Press Page Styles */

.pressContainer {
	float:left;
	margin: 10px 0px 20px 0px; 
	width: 100%;
}

.featureImage {
	float: left;
	margin: 0px 0px 0px 20px;
	padding: 0px 20px 0px 0px; 
	width: 100%;
}
.featureImage img {
	border: 1px #000 solid;
	width: 100%;
}
.pressCopyCont {
	float: left;
	width: 100%;
	margin: 0px 0px 20px 20px;
	padding: 0px 20px 0px 0px; 
}

.pressDate {
	float: left;
	width: 100%; 
	height: 23px;
	margin: 0px 0px;
	font-size: 18px;
	border-bottom: 1px #000 solid;
	font-style: italic;
}

.pressCopy {
	float: left;
	width: 100%;
	margin: 8px 0px 0px 0px;
	font-size: 20px; 
	line-height: 26px;
	font-weight: 100;
}
/* Menu Styles */
.menuCol {
	width: 100%;
	float:left; 
	margin: 0px 0px 20px 0px; 
	padding: 0px 0px;
	font-family: "Georgia", Times New Roman, Times, serif;
	}
.menuHeader {
	width: 100%; 
	float: left;
	background-color: #88000a; 
	margin: 0px 0px 20px 0px;
	padding: 0px 0px;
	height: 40px;
	font-size: 20px;
}
.menuHeader span {
	width: 80%;
	float:right;
	margin: 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align:left;
	background-color: #000; 
	height: 40px;
	color: #fff;
	text-indent: 10px;
	text-transform:uppercase;
	line-height: 41px;
}
.menuCol hr {
	clear: both;
	color: #000;
	background-color: #000;
	height: 8px;
	width: 100%;
	margin: 0px 0px 5px 0px;
	border: none;
}
.menuCol h2 {
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 0px 20px;
	font-family: "Georgia", Times New Roman, Times, serif;
}
.menuCol h4 {
	margin: 0px 0px;
	font-weight: normal;
	font-size: 18px;
	padding: 0px 0px 0px 20px;
	font-family: "Georgia", Times New Roman, Times, serif;
}
.menuCol p {
	margin: 5px 0px 10px 5px;
	font-size: 12px;
}
.typeHeader {
	float: left;
	width: 100%;
}
.typeHeader .left {
	float: left;
	width: 80%;
}
.typeHeader .right {
	float: left;
	width: 18%;
	font-size: 12px;
}
.typeHeader .chips {
	margin-top: 15px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	font-size: 10px;
}
.typeHeader .cost {
	text-align:center;
	marign: 0px 0px;
}
.specialty {
	margin:0px 0px 20px 0px;
}
/*Leagues How They Work Button and Content Styles */
.howButton {
	float: left;
	height: 100px;
	text-align: center;
	margin: 20px 0px 15px 15px;
	color: #fff;
}
.howButton span {
	float: left;
	margin: 0px 0px;
	padding: 22px 40px 20px 40px;
	height: 100px;
	color: #fff !important;
	font-size: 32px;
	border: 2px #000 solid;
	background-color: #88000a;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-family: 'Coldsmith';
}
.howButton span:hover {
	color: #88000a !important;
	border: 2px #88000a solid;
	background: #000;
	cursor: pointer;
}
.howContent {
	clear: both;
	float: left;
	width: 100%;
	margin: 0px 0px 15px 0px;
	overflow: hidden;
	display: none;
}

@media only screen and (min-width: 481px) {

.eventsHeader {
	min-width: 25%;
	max-wdith: 25%;
	padding: 6px 10px 0px 0px;
	font-size: 12px;
}
#logo {
	height: 150px;
	background-color: #000;
	background-image: url(../images/sbb-logo-mobile.jpg);
	background-size:100% 100%;	
}
.nav {
	width: 100%;
	overflow: hidden;
}
.nav li {
	font-size: .8em;
	width: 25%;
}
.nav li a {
	float:left;
	background-color: transparent;	
	margin: 3px 0px;
	padding: 10px 15px 10px 15px;
	border-left:none;
	border-bottom:none;
	border-right:none;
	color: #fff;
	text-decoration: none;
	text-align: center;
	width: 100%;
}
.nav li:hover, .nav li a:focus,.nav li.current_page_item {
	background: url(../images/nav-bg.jpg) repeat-x left;		
}
.nav li:hover a, .nav li.current_page_item a {
	border-left:none;
	border-bottom:none;
	border-right:none;
	color: #fff;
	text-align: center;
}
.entry-content .alignleft, .entry-content img.alignleft {
	margin-right: 1.5em;
	display: inline;
	float: left
}
.entry-content .alignright, .entry-content img.alignright {
	margin-left: 1.5em;
	display: inline;
	float: right
}
.entry-content .aligncenter, .entry-content img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both
}
li.highrunlast {
	font-size: 32px;
	line-height: 36px;
}
/* Sub Page Styles */
.page-header {
	font-size: 72px;
	padding: 0px 0px 20px 0px;
	line-height: 68px;
}
h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}
.simply-scroll .simply-scroll-clip {
	height: 30px;
	font-size: 100%;
	font-weight: bold;
	color: #fff;
}

}
@media only screen and (min-width: 768px) {
	
#content {
	margin: 5px 0;
}
.eventsHeader {
	min-width: 21.5%;
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	
}
.widgetContainer-page {
 	width: 310px;
}
.marquee {
  min-width: 78.5%;
  max-width: 80%;
  font-size: 14px;
}

.widgetColumn {
 	width: 310px;
	margin: 0px 5px 0px 0px;
}
.widgetColumnLast {
 	width: 310px;
	margin: 0px 0px;
}

#inner-footer li {
	float: left;
	padding: 0px 10px 0px 0px;
	width: 13%;
	min-height: 150px;
	height: auto;
}
#inner-footer li.footer-address {
	clear:none;	
	width: 22%;
}
/* Sub Page Styles */
.page-headimage {
	position: relative;
	width: 100%;
	min-height: 100px;
	max-height: 450px;
	overflow: hidden;
}
.page-header {
	position: absolute;
	bottom:0;
	left:0;
	padding: 10px 20px 20px 15px;
	margin: 0px 0px;
	color: #fff; 
	text-align: center;
	background: rgb(136,0,10);
	background: rgba(136,0,10,0.6);
	font-family:'Coldsmith';
	font-size: 56px;
	height: auto;
	width: auto;
	text-shadow: 1px 1px 1px rgba(17, 17, 17, 1);
}
/* Press Page Styles */

.pressContainer {
	float:left;
	margin: 10px 0px 20px 20px; 
	width: 100%;
}

.featureImage {
	float: left;
	margin: 5px 0px 0px 0px; 
	width: 30%;
}
.featureImage img {
	border: 1px #000 solid;
}
.simply-scroll .simply-scroll-clip {
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}
.pressCopyCont {
	float: left;
	width: 65%;
	margin: 0px 0px 0px 10spx;
}

.pressDate {
	float: left;
	width: 100%; 
	height: 23px;
	margin: 0px 0px;
	font-size: 18px;
	border-bottom: 1px #000 solid;
	font-style: italic;
}

.pressCopy {
	float: left;
	width: 100%;
	margin: 8px 0px 0px 0px;
	font-size: 20px; 
	line-height: 26px;
	font-weight: 100;
}
/* Menu Styles */
.menuCol {
	width: 50%;
}
.menuHeader {
	margin: 0px 0px 20px 0px;
	padding: 0px 0px;
	height: 30px;
	font-size: 14px;
}
.menuHeader span {
	width: 40%;
	margin: 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 30px;
	text-indent: 10px;
	line-height: 31px;
}
.specialty {
	margin:0px 0px 57px 0px;
}

.onecol {
	width: 5.801104972%
}
.twocol {
	width: 14.364640883%
}
.threecol {
	width: 22.928176794%
}
.fourcol {
	width: 31.491712705%
}
.fivecol {
	width: 40.055248616%
}
.sixcol {
	width: 48.618784527%
}
.sevencol {
	width: 57.182320438000005%
}
.eightcol {
	width: 65.74585634900001%
}
.ninecol {
	width: 74.30939226%
}
.tencol {
	width: 82.87292817100001%
}
.elevencol {
	width: 91.436464082%
}
.twelvecol {
	width: 99.999999993%
}
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
	position: relative;
	float: left;
	margin-left: 0;
}
.first {
	margin-left: 0
}
.last {
	float: right
}
.wrap {
	min-width: 940px;
	max-width: 940px;
}

#logo {
	float:left;
	margin: 0px 0px; 
	padding:0px 0px;
	min-width: 22%;
	max-width: 22%;
	height: 114px;
	background-image: url(../images/sbb-logo.jpg);
	background-size:autos;	
}
.nav {
	margin: 0px 0px;
	padding: 0px 0px;
	float: right;
	border: 0;
	font-family:'Helvetica';
	max-width: 77.6%;
	min-width: 77.6%;
	background-color: #000;
}
.nav ul {
	margin: 0px 0px;
	padding: 0px 0px;
	float: left;
	width: auto;
	list-style-type: none;	
}
.nav li {
	float:left;
	min-height: 114px;
	margin: 0px 0px;
	background-color: #000;
	font-size: 13px;
	width: auto;
	border-top: none;
	border-left:none;
}
.nav li#menuexpand {
	display:none;
}
.nav li.last {
	border-left: none;
	border-right: none;
	width: auto;
}
.nav li.last a {
	width: auto;
}
.nav li.nomargin {
	border-right: none;
}
.nav li a {
	float:left;
	display: block;
	background-color: transparent;	
	margin: 0px 5px 5px 5px;
	padding: 78px 10px 10px 10px;
	border-left:1px #000 solid;
	border-bottom:1px #000 solid;
	border-right:1px #000 solid;
	color: #fff;
	min-width: 63.5px;
	text-decoration: none;
	width: auto;
}
.nav li:hover, .nav li a:focus,.nav li.current_page_item a {
	background: url(../images/nav-bg.jpg) repeat-x left;
	width: auto;		
}
.nav li:hover a,.nav li.current_page_item a {
	width: auto;
	border-left:1px #fff solid;
	border-bottom:1px #fff solid;
	border-right:1px #fff solid;
}
.nav li.navMarginLeft {
	margin-left: 0px;
}

.nav li ul.sub-menu, .nav li ul.children {
	margin-top: 0;
	border: 1px solid #ccc;
	border-top: 0;
	position: absolute;
	overflow: hidden;
	visibility: hidden;
	z-index: 8999
}
.nav li ul.sub-menu li a, .nav li ul.children li a {
	padding-left: 10px;
	border-right: 0;
	display: block;
	width: 180px;
	border-bottom: 1px solid #ccc
}
.nav li ul.sub-menu li:last-child a, .nav li ul.children li:last-child a {
	border-bottom: 0
}
.nav li:hover ul {
	top: auto;
	overflow: visible;
	visibility: visible
}
.sidebar {
	margin-top: 2.2em
}
.widgettitle {
	border-bottom: 2px solid #444;
	margin-bottom: 0.75em
}
.widget {
	padding: 0 10px;
	margin: 2.2em 0
}
.widget ul li {
	margin-bottom: 0.75em
}
.widget ul li ul {
	margin-top: 0.75em;
	padding-left: 1em
}
li.highrunlast {
	font-size: 18px;
	line-height: 26px;
}
h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}
}
@media only screen and (min-width: 1600px) {
.wrap {
	min-width: 1400px;
	max-width: 1400px;
}
#body-content {
	width: 80%%;
	margin: 20px 10px;
	min-height: 520px;
}
#logo {
	float:left;
	margin: 0px 0px; 
	padding:0px 0px;
	min-width: 18%;
	max-width: 18%;
	height: 140px;
	background-image: url(../images/sbb-logo.jpg);
	background-size:autos;	
}
.nav {
	margin: 0px 0px;
	padding: 0px 0px;
	float: right;
	border: 0;
	font-family:'Helvetica';
	max-width: 81.6%;
	min-width: 81.6%;
	background-color: #000;
}
.nav ul {
	margin: 0px 0px;
	padding: 0px 0px;
	float: left;
	width: auto;
	list-style-type: none;	
}
.nav li {
	float:left;
	min-height: 140px;
	margin: 0px 0px;
	background-color: #000;
	font-size: 16px;
	width: auto;
	border-top: none;
	border-left:none;
}
.nav li#menuexpand {
	display:none;
}
.nav li.last {
	border-left: none;
	border-right: none;
	width: auto;
}
.nav li.last a {
	width: auto;
}
.nav li.nomargin {
	border-right: none;
}
.nav li a {
	float:left;
	display: block;
	background-color: transparent;	
	margin: 0px 5px 5px 5px;
	padding: 99px 10px 10px 10px;
	border-left:1px #000 solid;
	border-bottom:1px #000 solid;
	border-right:1px #000 solid;
	color: #fff;
	min-width: 100px;
	text-decoration: none;
	width: auto;
}
.nav li:hover, .nav li a:focus,.nav li.current_page_item a {
	background: url(../images/nav-bg-lg.jpg) repeat-x left;
	width: auto;		
}
.nav li:hover, .nav li a:focus,.nav li.current_page_item {
	background: url(../images/nav-bg-lg.jpg) repeat-x left;		
}
.widgetContainer-page {
 	width: 462px;
	padding: 0px 0px 20px 0px;
}
.widgetHeader {
	float:left;
	width: 100%;
	height: 50px;
	margin: 0px 0px;
	background-color: #000;
	padding: 5px 5px;
	text-align: center;
}
.widgetHeader p {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	border: 1px #fff solid;
	height: 40px;
	line-height: 40px;
	font-size: 22px;
}
.widgetColumn {
 	width: 462px;
	margin: 0px 7px 0px 0px;
}
.widgetColumnLast {
 	width: 462px;
	margin: 0px 0px;
	
}
li.highrunlast {
	font-size: 28px;
	line-height: 32px;
}
#fbContainer {
	height: 205px;
	overflow: hidden;
}
.flexslider .flex-caption {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
	width: 100%;
	min-height: 100%;
	max-height: 100%;
    padding: 10px 10px;
	font-family: 'Helvetica', sans-serif;
	font-weight: normal;
    color: #fff;
	font-size: 24px;
	line-height: 36px;
    background-color: rgba(0, 0, 0, .6);
}
.flexslider ul span.sliderHeader {
font-size: 46px;
}
.page-headimage {
	position: relative;
	width: 100%;
	min-height: 100px;
	max-height: 550px;
	overflow: hidden;
}
}
@media print {
* {
	background: transparent !important;
	color: black !important;
	text-shadow: none !important;
	filter: none !important;
	-ms-filter: none !important
}
a, a:visited {
	color: #444 !important;
	text-decoration: underline
}
a:after, a:visited:after {
	content: " (" attr(href) ")"
}
a abbr[title]:after, a:visited abbr[title]:after {
	content: " (" attr(title) ")"
}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
	content: ""
}
pre, blockquote {
	border: 1px solid #999;
	page-break-inside: avoid
}
thead {
	display: table-header-group
}
tr, img {
	page-break-inside: avoid
}
img {
	max-width: 100% !important
}
@page {
margin:0.5cm
}
p, h2, h3 {
	orphans: 3;
	widows: 3
}
h2, h3 {
	page-break-after: avoid
}
.sidebar, .page-navigation, .wp-prev-next, .respond-form, nav {
	display: none
}
}
