<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org">
     <div class="society-well society-well-schedule">
        <div class="well-title">
            <h4 th:text="${date}" ></h4>
        </div>
    <div class="table-responsive">
        <table th:id="'table-team-schedule-' + ${date}" class="table table-stats">
            <thead>
            <tr>
                <th th:text="${date}"></th>
                <th></th>
                <th>HC</th>
                <th></th>
                <th>HC</th>
                <th>Score</th>
                <th>Race</th>
            </tr>
            </thead>
            <tbody>
            <tr th:class="${match.isHasResults() ? 'results' : 'no-results'}" th:each="match: ${teamMatches.get(date)}">
                <!--/*@thymesVar id="match" type="com.society.leagues.client.api.domain.TeamMatch"*/-->
                <!--/*@thymesVar id="season" type="com.society.leagues.client.api.domain.Season"*/-->
                <!--/*@thymesVar id="user" type="com.society.leagues.client.api.domain.User"*/-->
                <td class="time" th:text="${#temporals.format(match.getMatchDate(),'H:mm')}"></td>
                <td th:class="${user.getId().equals(match.getWinner().getChallengeUser().getId()) ? 'active team-name' : 'not-active team-name'}">
                    <a th:text="${match.getWinner().getChallengeUser().getName()}"
                       th:href="@{/app/display/{seasonId}/topgun/{userId} (seasonId=${season.getId()},userId=${match.getWinner().getChallengeUser().getId()})}"
                    >

                    </a>
                </td>
                <td th:text="${match.getWinner().getChallengeUser().getHandicap(season).getDisplayName()}"></td>
                <td th:class="${user.getId().equals(match.getLoser().getChallengeUser().getId()) ? 'active team-name' : 'not-active team-name'}">
                    <a th:text="${match.getLoser().getChallengeUser().getName()}"
                       th:href="@{/app/display/{seasonId}/topgun/{userId} (seasonId=${season.getId()},userId=${match.getLoser().getChallengeUser().getId()})}">
                    </a>
                </td>
                <td th:text="${match.getLoser().getChallengeUser().getHandicap(season).getDisplayName()}"></td>

                <td class="racks" th:text="${match.getScore()}"></td>
                <td class="racks" th:text="${match.getRace()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
     </div>
    </div>