<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org">
    <div class="table-responsive">
        <table th:id="'table-team-schedule-' + ${date}" class="table">
            <thead>
            <tr>
                <th th:text="${date}"></th>
                <th>SW</th>
                <th>R</th>
                <th></th>
                <th>SW</th>
                <th>R</th>
            </tr>
            </thead>
            <tbody>
            <tr th:class="${match.isHasResults() ? 'results' : 'no-results'}" th:each="match: ${teamMatches.get(date)}">
                <!--/*@thymesVar id="match" type="com.society.leagues.client.api.domain.TeamMatch"*/-->
                <td th:class="${team.getId().equals(match.getWinner().getId()) ? 'active team-name' : 'not-active team-name'}">
                    <a th:href="@{/app/results/{matchId} (matchId=${match.getId()})}"
                       th:text="${match.getWinner().getName()}"></a>
                </td>
                <td class="racks" th:text="${match.getWinnerSetWins()}"></td>
                <td class="racks" th:text="${match.getWinnerRacks()}"></td>
                <td th:class="${team.getId().equals(match.getLoser().getId()) ? 'active team-name' : 'not-active team-name' }">
                    <a th:href="@{/app/results/{matchId} (matchId=${match.getId()})}"
                       th:text="${match.getLoser().getName()}"></a>
                </td>
                <td class="racks" th:text="${match.getLoserSetWins()}"></td>
                <td class="racks" th:text="${match.getLoserRacks()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>