<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorator="layout">
    <div id="schedule-app" layout:fragment="content">
        <!--/*@thymesVar id="season" type="com.society.leagues.client.api.domain.Season"*/-->
        <!--/*@thymesVar id="u" type="com.society.leagues.client.api.domain.User"*/-->
        <!--/*@thymesVar id="match" type="com.society.leagues.model.MatchModel"*/-->
        <div th:each="match: ${teamMatches}" class="society-well society-well-team-available">
            <div class="well-title">
                <h4>
                    <span th:text="${#temporals.format(match.getMatchDate(),'MM/dd')}">
                    </span>
                    <span> Vs </span>
                    <span th:href="@{/app/display/{seasonId}/{teamId} (seasonId=${season.getId()},teamId=${match.getId()})}"
                       th:text="${match.getOpponent(team).getName()}"></span>
                </h4>
            </div>
            <div style="padding-top: 11px">
            <form  class="edit-available"
                   th:action="@{/app//{id}(id=${match.id})}"
                   method="post">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Available</label>
                    <input type="hidden" th:value="${match.getId()}" th:name="matchId"/>
                    <div class="col-sm-10">
                        <select th:id="${'users-available-' + match.getId()}"
                                placeholder="Select a member..."
                                multiple="multiple"
                                class="users-available">
                            <option th:each="u : ${match.getMembers(team)}"
                                    th:selected="${match.isAvailable(u)}"
                                    th:name="available"
                                    th:value="${u.id}"
                                    th:text="${u.getShortName()}">
                            </option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">Not Available</label>
                    <div class="col-sm-10">
                            <select multiple="multiple" th:id="${'users-not-available-' + match.getId()}" placeholder="Select a member..." class="users-not-available">
                                <option th:each="u : ${match.getMembers(team)}"
                                        th:selected="${not match.isAvailable(u)}"
                                        th:value="${u.id}"
                                        th:name="notAvailable"
                                        th:multiple="multiple"
                                        th:text="${u.getShortName()}">
                                </option>
                            </select>
                    </div>
                    <button type=submit" class="btn btn-md btn-primary">Update</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>


