<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org">
    <div class="society-well">
    <div class="table-responsive">
        <table th:id="'table-team-schedule-' + ${date}" class="table-stats">
            <thead>
            <tr th:if="${user.isAdmin()}">
                <th colspan="3"><div style="text-align: center"><span class="" th:text="${date}"></span></div></th>
                <th colspan="3">
                     <a th:href="@{/sheets/{id}/{date} (id=${season.id},date=${date})}">
                     <span  class="label label-primary" >Sheets</span>
                     </a>
                 </th>
             </tr>
            <tr th:if="${!user.isAdmin()}">
                <th colspan="6"><div style="text-align: center"><span class="" th:text="${date}"></span></div></th>
             </tr>
            <tr>
                <th> </th>
                <th>SW</th>
                <th>R</th>
                <th></th>
                <th>SW</th>
                <th>R</th>
            </tr>
            </thead>
            <tbody>
            <tr th:class="${match.isHasResults() ? 'results' : 'no-results'}" th:each="match: ${teamMatches.get(date)}">
                <!--/*@thymesVar id="match" type="com.society.leagues.client.api.domain.TeamMatch"*/-->
                <td th:class="${team.getId().equals(match.getWinner().getId()) ? 'active team-name' : 'not-active team-name'}">
                    <a th:href="@{/results/{matchId} (matchId=${match.getId()})}"
                       th:text="${match.getWinner().getName()}"></a>
                </td>
                <td class="racks" th:text="${match.getWinnerSetWins()}"></td>
                <td class="racks" th:text="${match.getWinnerRacks()}"></td>
                <td th:class="${team.getId().equals(match.getLoser().getId()) ? 'active team-name' : 'not-active team-name' }">
                    <a th:href="@{/results/{matchId} (matchId=${match.getId()})}"
                       th:text="${match.getLoser().getName()}"></a>
                </td>
                <td class="racks" th:text="${match.getLoserSetWins()}"></td>
                <td class="racks" th:text="${match.getLoserRacks()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>