#page-wrapper {
       /*background: url('/app/img/break2.jpg') no-repeat center center fixed;*/
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       min-height: 1200px!important;
}
.welcome h3 {
       color:#fff;
       text-transform: uppercase;
}
.welcome-name {
       color: #fff;
       margin: 20px 0px;
}
.panel {
       border-radius:0px;
       border-bottom: none;
}
.panel-heading {
    border-radius: 10px;
    background-color: rgb(0,0,0);
    font-size:20px;
}
.panel-upcoming>.panel-heading,
.panel-leaders>.panel-heading, 
.panel-results-players > .panel-heading { 
        background-color: rgb(0,0,0);
}

.panel-heading a span.top-players-header:hover,
.panel-heading a span.league-home-header:hover {
       color: #9c302d;
}
.panel-heading a {
text-decoration: none!important;
}
