<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<body>
  <div id="team-app" layout:fragment="content">
      <div id="teams" >
          <div class="table-responsive">
              <table id="table-teams" class="table table-stripped table-bordered table-condensed">
                  <thead>
                  <th>Name</th>
                  <th>Season</th>
                  </thead>
                  <tbody>
                  <!--/*@thymesVar id="teams" type="com.society.leagues.client.api.domain.Team"*/-->
                  <tr th:id="'team-' + ${team.id}" th:each="team : ${teams}">
                      <td>
                          <a th:text="${team.name}" th:href="@{/admin/team/{id}(id=${team.id})}"></a>
                      </td>
                      <td th:text="${team.season.shortName}"></td>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</body>
</html>

