<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorator="layout">


    <div id="user-edit" layout:fragment="content">
        <div th:if="${user.equals(editUser) || user.isAdmin()} " class="society-well society-well-users">
            <div th:if="${save eq 'success'}">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <strong>Success!</strong> Updated Successfully.
                </div>
            </div>
            <div th:if="${save eq 'error'}">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <strong>Error!</strong>
                    <pre th:text="${error}"></pre>
                </div>
            </div>
            <div class="well-title">
                <h4><span th:text="${editUser.getName()}"></span></h4>
            </div>
            <form  class="edit-user" id="user-form" action="#" th:action="@{/user/{id}(id=${editUser.id})}" th:object="${editUser}"
                   method="post">
            <div style="padding: 10px;" class="form-group">
                <input type="hidden" th:value="${editUser.id}" th:field="*{id}"/>
                <label class="col-sm-3 control-label">First Name</label>

                <div class="col-sm-8">
                    <input th:value="*{firstName}" th:field="*{firstName}" id="firstName"
                           type="input" name="firstName"
                           class="form-control form-user "/>
                </div>
                <label class="col-sm-3 control-label">Last Name</label>

                <div class="col-sm-8">
                    <input th:value="${editUser.lastName}" name="lastName" th:field="*{lastName}" id="lastName"
                           type="input" class="form-control form-user"/>
                </div>
                <label class="col-sm-3 control-label">Email</label>

                <div class="col-sm-8">
                    <input th:value="${editUser.login}" th:field="*{login}" id="login" class="form-control form-user-email"/>
                </div>
                <label th:if="${user.isAdmin()}" class="col-sm-3 control-label">Role</label>

                <div th:if="${user.isAdmin()}" class="col-sm-8">
                    <select id="role" name="role" class="form-control form-user-role" th:value="${editUser.role}" th:field="*{role}">
                        <option value="PLAYER">Player</option>
                        <option value="ADMIN">Admin</option>
                    </select>
                </div>
                <label th:if="${user.isAdmin()}" class="col-sm-3 control-label">status</label>

                <div th:if="${user.isAdmin()}" class="col-sm-8">
                    <select class="form-control form-user-status" th:value=${editUser.status} th:field="*{status}">
                        <option value="ACTIVE">Active</option>
                        <option value="INACTIVE">Disable</option>
                    </select>
                </div>
                <!--/*@thymesVar id="handicapSeasons" type="com.society.leagues.client.api.domain.HandicapSeason"*/-->
                <div th:if="${user.isAdmin()}" th:each="hs, rowIndex: ${editUser.handicapSeasons}">
                    <label th:text="${hs.season.getShortName()}" class="col-sm-3 control-label"></label>
                    <input type="hidden" th:value="${hs.season.id}"
                           th:field="${editUser.handicapSeasons[__${rowIndex.index}__].season.id}"/>
                    <input type="hidden" th:value="${hs.season.division}"
                           th:field="${editUser.handicapSeasons[__${rowIndex.index}__].season.division}"/>
                    <input type="hidden" th:value="${hs.season.seasonStatus}"
                           th:field="${editUser.handicapSeasons[__${rowIndex.index}__].season.seasonStatus}"/>

                    <div class="col-sm-8">
                        <select th:id="${hs.season.getShortName().replaceAll(' ','') + '-hc'}" class="form-control form-user-handicap"
                                th:field="${editUser.handicapSeasons[__${rowIndex.index}__].handicap}">
                            <option th:each="hc: ${T(com.society.leagues.client.api.domain.Handicap).values()}"
                                    th:text="${hc.getDisplayName()}"
                                    th:value="${hc.value}"
                                    th:selected="${hc.value == hs.handicap.value}"
                            ></option>
                        </select>
                    </div>
                </div>

            <label class="col-sm-3 control-label">Submit</label>
            <div class="col-sm-8">
                <input style="max-width: 145px;" id="submit" type="submit" class="btn btn-sm btn-primary btn-responsive"/>
            </div>
            <label style="padding: 10px" class="col-sm-3 control-label">Fb Profile</label>
             <div style="padding: 10px" class="col-sm-8">
                <a th:href="@{/user/delete/fb/profile/{id} (id=${editUser.id})}" >
                    <span style="max-width: 145px;"   class="btn btn-danger">Delete FB Profile</span> </a>
            </div>
            </div>
        </form>
        </div>
        <div th:if="${editUser.isChallenge()}" class="society-well society-well-users">
            <div class="well-title">
                <h4>Challenge Profile</h4>
            </div>
            <form  class="edit-user" id="challenge-slot" action="#" th:action="@{/user/modify/challenge/profile/{id}(id=${editUser.getId()})}"
                   method="post">
                <label th:if="${challengeDisabled}"  style="padding-top: 10px" class="col-sm-4 control-label">Enable</label>
                <label th:if="${not challengeDisabled}" style="padding-top: 10px" class="col-sm-4 control-label">Disable</label>
                <div style="padding: 10px" class="col-sm-7">
                    <a th:if="${challengeDisabled}" th:href="@{/user/disable/challenges/{id} (id=${editUser.id})}" >
                        <span style="max-width: 145px;"   class="btn btn-primary">Enable Challenges</span> </a>

                    <a th:if="${not challengeDisabled}" th:href="@{/user/disable/challenges/{id} (id=${editUser.id})}" >
                        <span style="max-width: 145px;" class="btn btn-danger">Disable Challenges</span> </a>
                </div>
                <label class="col-sm-4 control-label">Disable Times</label>
                <div class="col-sm-7">
                    <select id="challenge-broadcast-slots" name="disabledSlots" multiple="multiple">
                        <option th:each="time: ${disabledTimes}" th:text="${time.getTime()}" th:value="${time.getTime()}" th:selected="${time.isSelected()}">
                        </option>
                    </select>
                </div>
                <label class="col-sm-4 control-label">Weekly Broadcast</label>
                <div class="col-sm-7">
                    <select id="challenge-slots" name="broadcastSlots" multiple="multiple">
                        <option th:each="time: ${broadcastTimes}" th:text="${time.getTime()}" th:value="${time.getTime()}" th:selected="${time.isSelected()}">
                        </option>
                    </select>
                </div>

                <label class="col-sm-4 control-label">Block Dates</label>
                <div class="col-sm-7">
                    <select id="challenge-block-dates" name="blockedDates" multiple="multiple">
                        <option th:each="dt: ${blockedDates}"
                                th:text="${#temporals.format(dt.getDate(), 'MM/dd')}"
                                th:value="${dt.getDate().toString()}"
                                th:selected="${dt.isSelected()}">
                        </option>
                    </select>
                </div>
                <label class="col-sm-4 control-label">Receive Broadcast Email</label>
                <div class="col-sm-7">
                       <input
                       th:type="checkbox"
                       th:checked="${editUser.getUserProfile().isReceiveBroadcasts()}"
                       id="receiveBroadcasts"
                       name="receiveBroadcasts"
                       class="form-control" >
                </div>
                <label style="padding-top: 10px" class="col-sm-4 control-label">Submit</label>
            <div class="col-sm-7">
                <input style="max-width: 145px;" type="submit" class="btn btn-sm btn-primary btn-responsive"/>
            </div>
            </form>
        </div>
    </div>
</div>
    <div class="society-well hide">
        <div class="well-title">
            <h4>My Teams</h4>
        </div>
    <div th:if="${not #lists.isEmpty(editUserTeams)}" id="user-teams">
        <table id="table-users-teams" class="table table-stripped table-bordered table-condensed">
            <thead>
            <th>Team</th>
            <th>Season</th>
            </thead>
            <tbody>
            <!--/*@thymesVar id="team" type="com.society.leagues.client.api.domain.Team"*/-->
            <tr th:each="team : ${editUserTeams}">
                <td>
                    <a th:text="${team.getName()}" th:href="@{/team/{id}(id=${team.id})}">
                    </a>
                </td>
                <td>
                    <a th:text="${team.getSeason().getFormattedName()}" href="#">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>


