<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org">
    <div th:if="${not #lists.isEmpty(accepted)}" class="society-well society-well-accepted">
        <div class="well-title">
            <h4>Accepted</h4>
        </div>
        <!--/*@thymesVar id="season" type="com.society.leagues.client.api.domain.Season"*/-->
        <!--/*@thymesVar id="challenge" type="com.society.leagues.client.api.domain.Challenge"*/-->
        <!--/*@thymesVar id="user" type="com.society.leagues.client.api.domain.User"*/-->
        <!--/*@thymesVar id="slot" type="com.society.leagues.client.api.domain.Slot"*/-->
        <div class="table-responsive">
            <table class="table">
                <thead></thead>
                <tbody>
                <tr th:each="challenge : ${accepted}">
                    <td class="challenge-date">
                        <span th:text="${#temporals.format(challenge.getLocalDate(), 'MM/dd')}">
                        </span>
                        <span th:text="${#temporals.format(challenge.getAcceptedSlot().getLocalDateTime(), 'h:mm')}"></span>
                    </td>
                    <td class="challenge-name">
                        <img  th:fragments="avatarUser" class="avatar img-responsive" th:if="${challenger ne null}" th:src="${challenge.getUserOpponent().getAvatarUrl()}"/>
                        <a th:href="@{/app/display/{seasonId}/user/{id} (id=${challenge.getUserOpponent.getId()},seasonId=${season.getId()})}">
                        <span th:text="${challenge.getUserOpponent().getName()}"></span>
                        </a>
                    </td>
                    <td class="challenge-race">
                        <span th:text="${challenge.getRace()}"></span>
                    </td>

                    <td class="challenge-actions">
                        <a th:href="@{/app/challenge/cancel/{id} (id=${challenge.getId()})}">
                            <button class="btn btn-sm btn-danger btn-responsive challenge-upcoming-decline-button">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
