<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org" >
    <div th:if="${not #lists.isEmpty(accepted)}" class="panel panel-default">
            <div class="panel-heading">
                <span>Accepted</span>
            </div>
            <div id="challenge-sent" class="panel-body">
                <!--/*@thymesVar id="season" type="com.society.leagues.client.api.domain.Season"*/-->
                <div class="table-responsive">
                    <table class="table">
                        <thead></thead>
                        <tbody>
                        <tr th:each="challenge : ${accepted}">
                            <td class="challenge-date" >
                                <span th:text="${#temporals.format(challenge.getLocalDate(), 'MM/dd')}">
                                </span>
                                <span th:text="${#temporals.format(challenge.getAcceptedSlot().getLocalDateTime(), 'h:mm')}"></span>
                            </td>
                            <td class="challenge-name">
                                <span th:text="${challenge.getUserOpponent().getName()}"></span>
                            </td>
                            <td class="challenge-race">
                                <span th:text="${challenge.getRace()}"></span>
                            </td>
                            <td class="challenge-actions">
                                <a href="#">
                                    <button class="btn btn-sm btn-danger btn-responsive challenge-upcoming-decline-button">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>