<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org">
    <div th:if="${not #lists.isEmpty(broadcast)}" class="society-well society-well-broadcast">
        <div class="well-title">
            <h4>Broadcasts</h4>
        </div>
        <!--/*@thymesVar id="season" type="com.society.leagues.client.api.domain.Season"*/-->
        <!--/*@thymesVar id="user" type="com.society.leagues.client.api.domain.User"*/-->
        <div class="table-responsive">
            <table class="table">
                <thead></thead>
                <tbody>
                <tr th:each="challenge : ${broadcast}">
                    <form th:method="GET" action="/app/challenge/accept" >
                        <input th:type="hidden" name="id" th:value="${challenge.getId()}">
                    <td>
                        <img class="avatar img-responsive" th:src="${challenge.getUserChallenger().getAvatarUrl()}"/>
                        <a th:href="@{/app/challenge/cancel/{id} (id=${challenge.getId()})}">
                            <span th:text="${challenge.getUserChallenger().getName()}"></span>
                        </a>
                    </td>
                    <td>
                        <span th:text="${challenge.getUserChallengerHandicap().getDisplayName()}"></span>
                    </td>
                    <td class="challenge-date">
                                <span th:text="${#temporals.format(challenge.getLocalDate(), 'MM/dd')}">
                                </span>
                    </td>
                    <td class="challenge-actions">
                        <a th:if="${challenge.getUserChallenger().equals(user.getId())}"
                           th:href="@{/app/challenge/cancel/{id} (id=${challenge.getId()})}">
                            <button class="btn btn-sm btn-danger btn-responsive challenge-upcoming-decline-button">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </a>
                    </td>
                    <td class="challenge-actions">
                        <select id="challenge-slot" class="form-control" name="slotId">
                            <!--/*@thymesVar id="s" type="com.society.leagues.client.api.domain.Slot"*/-->
                            <option th:each="s : ${challenge.getSlots()}"
                                    th:text="${#temporals.format(s.getLocalDateTime(), 'h:mm')}"
                                    th:value="${s.getId()}"
                                    th:name="slotId">
                            </option>
                        </select>
                    </td>
                    <td>
                        <a th:if="${challenge.getChallenger().equals(challenger)}" th:href="@{/app/challenge/cancel/{id} (id=${challenge.getId()})}">
                            <span class="btn btn-sm btn-danger btn-responsive challenge-upcoming-decline-button">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                        </a>
                        <button th:if="${!challenge.getChallenger().equals(challenger)}" type="submit" class="btn btn-sm btn-success btn-responsive challenge-upcoming-decline-button">
                            <span class="glyphicon glyphicon-ok-sign"></span>
                        </button>
                    </td>
                </tr>
                </form>
                </tbody>
            </table>
        </div>
    </div>
</div>
