<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorator="layout">
        <!--       th:action="@{/app/challenge} (userId=${opponent.getId()},date=${date})}" -->
        <!--/*@thymesVar id="u" type="com.society.admin.model.ChallengeUserModel"*/-->
  <div id="challenge-app" layout:fragment="content">
        <div class="society-well society-well-challenge">
            <div class="well-title"><h4>Choose Date & Victim</h4></div>
            <div class="row">
                <div class="col-xs-3 col-md-2 col-lg-2"><h4>Date:</h4></div>
                <div class="col-xs-6 col-md-6 col-lg-6 padding-bottom-10">
                    <select id="challenge-date" onChange="challengeChange()" class="form-control"
                            style="display: inline-block">
                        <option th:each="d : ${dates}"
                                th:text="${#temporals.format(d, 'MM/dd')}"
                                th:value="${d.toString()}"
                                th:selected="${d.toString() == date}">

                        </option>
                    </select>
                </div>
            </div>
            <div class="row padding-bottom-10">
                <div class="col-xs-3 col-md-2 col-lg-2"><h4>Victim:</h4></div>
                <div class="col-xs-6 col-md-6 col-lg-6">
                    <select th:if="${challengers ne null} " id="challenge-users" onChange="challengeChange()"
                            class="form-control">
                        <option th:each="u : ${challengers}"
                                th:value="${u.getId()}"
                                th:text="${u.display(user)}"
                                th:selected="${opponent.getId() == u.getId()}"
                        >
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="society-well society-well-slots">
            <div class="well-title"><h4>Slots</h4></div>
            <form th:if="${opponent ne null}" id="form-select-challenger"
                  th:action="@{/app/challenge (userId=${opponent.getId()},date=${date})}"
                  method="post">
                <input th:if="${challenger ne null}" type="hidden" th:value="${challenger.getId()}" name="id">
                <div class="slot-container" th:each="slot: ${challenge.getSlots()}">
                    <input th:id="${'slot-' + slot.getId()}"
                           th:type="checkbox"
                           th:checked="${'false' == 'true'}"
                           th:value="${slot.getId()}"
                           th:text="${#temporals.format(slot.getLocalDateTime(), 'h:mm')}"
                           name="slotIds"
                           >
                </div>
                <div class="challenge-submit center">
                    <input class="btn btn-primary" type="submit" value="Submit">
                </div>
            </form>
        </div>
        <div class="challenges">
            <div th:include="challenge/pending"></div>
            <div th:include="challenge/sent"></div>
            <div th:include="challenge/broadcast"></div>
            <div th:include="challenge/accepted"></div>
        </div>
  </div>
</div>