<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
    <div id="challenge-app"  layout:fragment="content">
          <form id="form-select-challenger">
              <select id="challenge-users" th:onChange="'searchChallengeUser()'" class="form-control" >
                  <!--/*@thymesVar id="u" type="com.society.admin.model.ChallengeUserModel"*/-->
                  <option th:each="u : ${challengers}"
                          th:value="${u.getId()}"
                          th:text="${u.display(user)}"
                          th:selected="${opponent.getId() == u.getId()}"
                  >

                  </option>
              </select>
          </form>
    </div>
</div>