<nav xmlns:th="http://www.thymeleaf.org" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/app/home">Society</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
    </ul>

    <aside class="sidebar" >
        <nav class="sidebar-nav">
            <ul class="nav metismenu" id="side-menu">
                <li th:if="${allUsers ne null}" class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <select id="users-search" class="form-control">
                            <option th:each="u : ${allUsers}" th:value="${u.getId()}" th:text="${u.getName()}"></option>
                        </select>
                        <span class="input-group-btn">
                            <button onclick="searchUser()" class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </li>
                <li>
                    <a href="/app/home"><i class="fa fa-dashboard fa-fw"></i> Home</a>
                </li>
                 <li th:if="${user ne null && user.isChallenge()}">
                      <a href="#">
                        <i class="fa fa-trophy fa-fw"></i> Top Gun<span class="fa arrow"></span>
                      </a>
                     <ul  class="nav nav-second-level">
                          <li>
                             <a id="challenge-link" href="/app/challenge"> Challenge</a>
                         </li>
                         <li>
                             <a th:id="'challenge-display-link-' + ${challengeSeason.getId()}"
                                th:href="@{/app/display/{id} (id=${challengeSeason.getId()})}"
                                     >Standings</a>
                         </li>
                         <li>
                             <a th:href="@{/app/schedule/{id} (id=${challengeSeason.getId()})}">Schedule</a>
                         </li>
                     </ul>
                </li>
                <li th:if="${userTeams ne null}">
                    <a href="#">
                        <i class="fa fa-users fa-fw"></i> My Teams<span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li th:if="${not team.isChallenge()}" th:each="team : ${userTeams}">
                             <a href="#">
                                 <i class="fa fa-users fa-fw"></i><span th:text="${team.getName()}"></span><span class="fa arrow"></span>
                             </a>
                            <ul  class="nav nav-third-level">
                                <li>
                                    <a th:id="'team-display-link-' + ${team.getId()}"
                                       th:href="@{/app/display/{id}/{teamId} (id=${team.getSeason().getId()},teamId=${team.getId()})}"
                                       >Standings</a>
                                </li>
                                <li >
                                    <a th:href="@{/app/schedule/{id} (id=${team.getSeason().getId()})}">Schedule</a>
                                </li>
                                <li>
                                    <a th:href="@{/app/leaders/{id} (id=${team.getSeason().getId()})}">Leaders</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li th:if="${user ne null}">
                    <a th:href="@{/app/stats/{id} (id=${user.getId()})}">
                        <i class="fa fa-bar-chart"></i> My Stats</a>
                </li>
                <li th:if="${user ne null && user.isAdmin()}">
                    <a href="#" ><i class="fa fa-gears fa-fw"></i> Admin <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/app/user"><i class="fa fa-user fa-fw"></i> Users</a>
                        </li>
                        <li>
                            <a href="/app/team"><i class="fa fa-users fa-fw"></i> Teams</a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-th-list"></span> Scores<span class="fa arrow"></span>
                            </a>
                            <!--/*@thymesVar id="seasons" type="List<com.society.leagues.client.api.domain.Season>"*/-->
                            <!--/*@thymesVar id="season" type="com.society.leagues.client.api.domain.Season"*/-->
                            <ul  th:if="${activeSeasons ne null}" class="nav nav-third-level">
                                <li th:each="season : ${activeSeasons}">
                                    <a th:id="${season.getShortName().replaceAll(' ','') + '-scores'}"
                                       th:href="@{/app/scores/{id}(id=${season.getId()})}"
                                       th:text="${season.getShortName()}"></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a   href="#"><i class="fa fa-trophy fa-fw"></i> Standings <span class="fa arrow"></span></a>
                            <ul  th:if="${activeSeasons ne null}" class="nav nav-third-level">
                                <li th:each="season : ${activeSeasons}">
                                    <a th:id="${season.getShortName().replaceAll(' ','') + '-standings'}"
                                       th:href="@{/app/display/{id} (id=${season.getId()})}"
                                       th:text="${season.getShortName()}"></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a  href="#"><i class="fa fa-calendar fa-fw"></i> Schedule <span class="fa arrow"></span></a>
                            <ul  th:if="${activeSeasons ne null}" class="nav nav-third-level">
                                <li th:each="season : ${activeSeasons}">
                                    <a th:id="${season.getShortName().replaceAll(' ','')}"
                                       th:href="@{/app/schedule/{id} (id=${season.getId()})}"
                                       th:text="${season.getShortName()}"></a>
                                </li>
                           </ul>
                        </li>
                          <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-th-list"></span> Leaders<span class="fa arrow"></span>
                            </a>
                            <!--/*@thymesVar id="seasons" type="List<com.society.leagues.client.api.domain.Season>"*/-->
                            <!--/*@thymesVar id="season" type="com.society.leagues.client.api.domain.Season"*/-->
                            <ul  th:if="${activeSeasons ne null}" class="nav nav-third-level">
                                <li  th:each="season : ${activeSeasons}">
                                    <div class="hide" >
                                        <a th:id="${season.getDay() + '-leaders-all'}"
                                           th:href="@{/app/leaders/{id}?perPage=200 (id=${season.getId()})}"
                                           th:text="${season.getShortName()}"></a>
                                    </div>
                                    <a th:if="${not season.isChallenge()}" th:id="${season.getDay() + '-leaders'}"
                                       th:href="@{/app/leaders/{id}(id=${season.getId()})}"
                                       th:text="${season.getShortName()}"></a>
                                    <a th:if="${season.isChallenge()}"
                                       th:id="${season.getDay() + '-leaders'}"
                                       th:href="@{/app/display/{id}(id=${season.getId()})}"
                                       th:text="${season.getShortName()}"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
</nav>
