<nav xmlns:th="http://www.thymeleaf.org" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/app/home">Society</a>
    </div>
    <!-- /.navbar-header -->
    <!--/*@thymesVar id="user" type="com.society.leagues.client.api.domain.User"*/-->
    <!--/*@thymesVar id="u" type="com.society.leagues.client.api.domain.User"*/-->
    <!--/*@thymesVar id="allUsers" type="com.society.leagues.client.api.domain.User"*/-->
    <!--/*@thymesVar id="challengeSeason" type="com.society.leagues.client.api.domain.Season"*/-->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!--
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-envelope"></i> <b class="caret"></b></a>
        </li>
        -->
    </ul>
    <div th:if="${user ne null}" class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li th:if="${allUsers ne null && user.isAdmin()}" class="sidebar-search">
                <div class="input-group custom-search-form">
                    <select id="users-search" class="form-control">
                        <option th:each="u : ${allUsers}" th:value="${u.getId()}" th:text="${u.getName()}"></option>
                    </select>
                        <span class="input-group-btn">
                            <button th:if="${user.isAdmin()}" style="height: 28px" onclick="searchAdminUser()" class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>

                            <button  th:if="${!user.isAdmin()}" style="height: 28px" onclick="searchUser()" class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                </div>
            </li>

            <li>
                <a href="/app/home"><i class="fa fa-dashboard fa-fw"></i> Home</a>
            </li>

            <li th:if="${user ne null && user.isChallenge()}">
                <a href="javascript:;" data-toggle="collapse" data-target="#topgun-dropdown">
                    <i class="fa fa-trophy fa-fw"></i> Top Gun <i class="fa fa-fw fa-arrow"></i>
                </a>
                <ul id="topgun-dropdown" class="">
                    <li>
                        <a id="challenge-link" href="/app/challenge"> Challenge</a>
                    </li>
                    <li>
                        <a th:id="'challenge-display-link-' + ${challengeSeason.getId()}"
                           th:href="@{/app/display/{id} (id=${challengeSeason.getId()})}"
                        >Standings</a>
                    </li>
                    <li>
                        <a th:href="@{/app/schedule/{id} (id=${challengeSeason.getId()})}">Schedule</a>
                    </li>
                </ul>
            </li>

            <li th:if="${userTeams ne null}">
                <a hhref="javascript:;" data-toggle="collapse"  data-target="#my-teams">
                    <i class="fa fa-users fa-fw"></i> My Teams<span class="fa arrow"></span>
                </a>
                <ul id="my-teams" class="">
                    <li th:if="${not team.isChallenge()}" th:each="team : ${userTeams}">
                        <a  href="javascript:;" data-toggle="collapse" th:attr="data-target='#team-menu-' + ${team.getId()}">
                            <i class="fa fa-users fa-fw"></i><span th:text="${team.getName()}"></span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul th:id="${'team-menu-' + team.getId()}" class="">
                            <li>
                                <a th:id="'team-display-link-' + ${team.getId()}"
                                   th:href="@{/app/display/{id}/{teamId} (id=${team.getSeason().getId()},teamId=${team.getId()})}"
                                >Standings</a>
                            </li>
                            <li>
                                <a th:href="@{/app/schedule/{id} (id=${team.getSeason().getId()},teamId=${team.getId()})}">Schedule</a>
                            </li>
                            <li>
                                <a th:href="@{/app/leaders/{id} (id=${team.getSeason().getId()})}">Leaders</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li th:if="${user ne null}">
                <a th:href="@{/app/stats/{id} (id=${user.getId()})}">
                    <i class="fa fa-bar-chart"></i> My Stats</a>
            </li>
        </ul>
    </div>
</nav>
