<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<script src="/app/js/jquery.min.js"></script>
<script src="/app/js/bootstrap.min.js"></script>
<script src="/app/js/bootstrap-multiselect.js"></script>
<script src="/app/js/jquery.dynatable.js"></script>
<script src="/app/js/jquery.datetimepicker.full.min.js"></script>
<script src="/app/js/js.cookie.js"></script>
<script src="/app/js/selectize.js"></script>
<script src="/app/js/society.js"></script>

