<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<link rel="stylesheet" href="/app/css/bootstrap-social.css" />
<link rel="stylesheet" href="/app/css/font-awesome.min.css" />
<link rel="stylesheet" href="/app/css/jquery.dynatable.css" />
<link rel="stylesheet" href="/app/css/jquery.datetimepicker.css" />
<link rel="stylesheet" href="/app/css/toggle/base.css" >
<link rel="stylesheet" href="/app/css/toggle/style.css">
<link rel="stylesheet" href="/app/css/switch.css" />
<link rel="stylesheet" href="/app/css/selectize.default.css"/>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

<link rel="stylesheet" href="/app/css/society-dashboard.css" />
<link rel="stylesheet" href="/app/css/society.css" />
<link rel="stylesheet" href="/app/css/society-main.css" />