<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<link rel="stylesheet" href="/app/css/bootstrap.min.css" />
<link rel="stylesheet" href="/app/css/bootstrap-social.css" />
<link rel="stylesheet" href="/app/css/font-awesome.min.css" />
<!--<link rel="stylesheet" href="/app/css/metisMenu.min.css" />-->
<link rel="stylesheet" href="/app/css/select2.min.css" />
<link rel="stylesheet" href="/app/css/select2-bootstrap.min.css" />
<link rel="stylesheet" href="/app/css/society-dashboard.css" />
<link rel="stylesheet" href="/app/css/jquery.dynatable.css" />
<link rel="stylesheet" href="/app/css/jquery.datetimepicker.css" />
<link href="/app/css/toggle/base.css" rel="stylesheet">
<link href="/app/css/toggle/style.css" rel="stylesheet">
<link rel="stylesheet" href="/app/css/society.css" />
<link rel="stylesheet" href="/app/css/society-main.css" />
