<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>User Admin</title>
</head>
<body>
  <div id="user-app" layout:fragment="content">
      <div id="users" >
          <div class="table-responsive">
              <table class="table table-stripped table-bordered table-condensed table">
                  <thead>
                  <th>Edit - <a id="user-new-link" href="/admin/user/new">Add New</a></th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Role</th>
                  <th>Status</th>
                  </thead>
                  <tbody>
                  <!--/*@thymesVar id="users" type="com.society.leagues.client.api.domain.User"*/-->
                  <tr th:id="'user-' + ${user.id} "th:each="user : ${users}">
                      <td th:id="${user.id}"><a th:href="@{/admin/user/{id}(id=${user.id})}">
                          <span class="glyphicon glyphicon-edit"></span></a>
                      </td>
                      <td>
                          <a th:text="${user.name}" th:href="@{/admin/user/{id}(id=${user.id})}"></a>
                      </td>
                      <td th:text="${user.login}"></td>
                      <td th:text="${user.role}"></td>
                      <td th:text="${user.status}"></td>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</body>
</html>

