<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org">
     <div class="society-well society-well-schedule">
         <div class="table-responsive">
        <table th:id="'table-team-schedule-' + ${date}" class="table table-stats ">
                   <thead>
                   <tr th:if="${user.isAdmin()}">
                       <a th:href="@{/sheets/{id}/{date} (id=${season.id},date=${date})}">
                        <h3 style="display: inline-block"><span  class="label label-primary" >Sheets</span></h3>
                    </a>
                   </tr>
                  <tr>
                       <th colspan="4"><div style="text-align: center"><span class="" th:text="${date}"></span></div></th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr th:class="${match.isHasResults() ? 'results' : 'no-results'}" th:each="match: ${teamMatches.get(date)}">
                       <!--/*@thymesVar id="match" type="com.society.leagues.client.api.domain.TeamMatch"*/-->
                       <td th:class="${team.getId().equals(match.getWinner().getId()) ? 'active team-name' : 'not-active team-name'}" >
                           <a th:href="@{/results/{matchId} (matchId=${match.getId()})}" th:text="${match.getWinner().getName()}"></a>
                       </td>
                       <td class="racks"  th:text="${match.getWinnerRacks()}"></td>
                       <td th:class="${team.getId().equals(match.getLoser().getId()) ? 'active team-name' : 'not-active team-name'}" >
                           <a th:href="@{/results/{matchId} (matchId=${match.getId()})}" th:text="${match.getLoser().getName()}"></a>
                       </td>

                       <td class="racks"  th:text="${match.getLoserRacks()}"></td>
                   </tr>
                   </tbody>
               </table>
    </div>
     </div>
    </div>
