<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorator="layout">
    <div id="schedule-app" layout:fragment="content">
        <!--/*@thymesVar id="season" type="com.society.leagues.client.api.domain.Season"*/-->
        <div th:if="${!season.isChallenge()}" class="society-well">
            <div class="well-title">
            <h4 >
                <span  th:text="${season.getFormattedName()}"></span>
            </h4>
            </div>
            <form style="display: inline-block" id="form-select-team">
                <select th:if="${!season.isChallenge()}" id="teams-select" th:onChange="'selectTeam()'" class="form-control" >
                    <option value="-1">...Choose A Team... </option>
                    <!--/*@thymesVar id="u" type="com.society.admin.model.ChallengeUserModel"*/-->
                    <option th:each="t : ${teams}"
                            th:value="${t.getId()}"
                            th:text="${t.getName()}"
                            th:selected="${t.getId() == team.getId()}">
                    </option>
                </select>
            </form>
        </div>

        <div th:if="${season.isChallenge()}"  th:each="date: ${teamMatches.keySet()}">
                <div  th:include="schedule/scheduleTopgun"></div>
        </div>
        <div th:if="${not season.isChallenge()}" th:each="date: ${teamMatches.keySet()}">
            <div th:if="${season.isTuesdayNine()}" th:include="schedule/scheduleNine"></div>
            <div th:if="${season.isEight()}" th:include="schedule/scheduleEight"></div>
            <div th:if="${season.isScramble()}" th:include="schedule/scheduleEight"></div>
        </div>
    </div>
</div>

