<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org">
    <div id="tuesday-stats" th:if="${not #lists.isEmpty(tuesdayStats)}" class="panel panel-default">
        <div class="panel-heading">
            Tuesday 9 Stats
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table-bordered table-condensed table-striped table-grid table-stats">
                    <thead>
                    <tr>
                        <th></th>
                        <th>HC</th>
                        <th>W</th>
                        <th>L</th>
                        <th>RW</th>
                        <th>RL</th>
                        <th>PCT</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="stat : ${tuesdayStats}">
                        <!--@thymesVar id="stat" type="com.society.leagues.client.api.domain.Stat"-->
                        <td th:if="${!stat.isLifeTime()}" >
                            <a th:text="${stat.getSeason().getFormattedName()}" th:href="@{/admin/stats/{id}/{sId} (id=${statUser.id},sId=${stat.getSeason().id})}"></a>
                        </td>

                        <td th:if="${stat.isLifeTime()}" > Lifetime </td>
                        <td th:text="${stat.getHandicapDisplay()}"> </td>
                        <td th:text="${stat.getWins()}"> </td>
                        <td th:text="${stat.getLoses()}"> </td>
                        <td th:text="${stat.getRacksWon()}"> </td>
                        <td th:text="${stat.getRacksLost()}"> </td>
                        <td th:text="${#numbers.formatDecimal(stat.getRackPct(),1,3)}"> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

