<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<body>
<div class="table-responsive">
    <table class="table-bordered table-condensed table-striped table-grid table-stats">
        <thead>
        <tr>
            <th>#</th>
            <th>Player</th>
            <th>HC</th>
            <th>P</th>
            <th>W</th>
            <th>L</th>
            <th>RW</th>
            <th>RL</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</body>
</html>
