<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org">
    <div id="scramble-nine-stats" th:if="${not #lists.isEmpty(scrambleNineStats)}" class="panel panel-default">
        <div class="panel-heading">
            Scramble 9 Stats
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table-bordered table-condensed table-striped table-grid table-stats">
                    <thead>
                    <tr>
                        <th></th>
                        <th>HC</th>
                        <th>W</th>
                        <th>L</th>
                        <th>PCT</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="stat : ${scrambleNineStats}">
                        <!--@thymesVar id="stat" type="com.society.leagues.client.api.domain.Stat"-->
                        <td th:if="${!stat.isLifeTime()}" th:text="${stat.getSeason().getFormattedName()}"> </td>
                        <td th:if="${stat.isLifeTime()}" > Lifetime </td>
                        <td th:text="${stat.getHandicapDisplay()}"> </td>
                        <td th:text="${stat.getWins()}"> </td>
                        <td th:text="${stat.getLoses()}"> </td>
                        <td th:text="${#numbers.formatDecimal(stat.getRackPct(),1,3)}"> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

