<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/app/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/app/css/bootstrap-social.css" rel="stylesheet"/>
    <link href="/app/css/font-awesome.min.css" rel="stylesheet"/>
    <!--<link rel="stylesheet" href="/app/css/metisMenu.min.css" />-->
    <link href="/app/css/select2.min.css" rel="stylesheet"/>
    <link href="/app/css/select2-bootstrap.min.css" rel="stylesheet"/>
    <link href="/app/css/society-dashboard.css" rel="stylesheet"/>
    <link href="/app/css/jquery.dynatable.css" rel="stylesheet"/>
    <link href="/app/css/jquery.datetimepicker.css" rel="stylesheet"/>
    <link href="/app/css/toggle/base.css" rel="stylesheet"/>
    <link href="/app/css/toggle/style.css" rel="stylesheet"/>
    <link href="/app/css/society.css" rel="stylesheet"/>
    <link href="/app/css/society-main.css" rel="stylesheet"/>
    <link href="/app/css/switch.css" rel="stylesheet"/>

    <script src="/app/js/jquery.min.js"></script>
    <script src="/app/js/bootstrap.min.js"></script>
    <script src="/app/js/select2.min.js"></script>
    <script src="/app/js/jquery.dynatable.js"></script>
    <script src="/app/js/jquery.datetimepicker.full.min.js"></script>
    <script src="/app/js/js.cookie.js"></script>
    <script src="/app/js/society.js"></script>

</head>
<body>
<div id="help">
    <main>
        <header class="post">
            <h2>Society Leagues Help</h2>
        </header>
        <div class="help-section">
            <h3>About</h3>
            <p>This guide contains help for</p>
            <ul>
                <li>Facebook Login</li>
                <li>Username Login</li>
                <li>Reset password</li>
                <li>Navigation</li>
                <li>Definitions</li>
            </ul>
        </div>

        <div class="help-section">
            <h3>Login</h3>
            <p>There are <strong>two ways</strong> to access the society leagues</p>
            <ul>
                <li>
                    <a href="/app/login">
                    <button class="btn btn-sm btn-social btn-facebook btn-primary btn-responsive">
                        <i class="fa fa-facebook"></i> <b>Facebook</b>
                    </button>
                    </a>
                    <p> You can login using your facebook username and password <strong>(Recommended)</strong></p>
                </li>
                <li>
                    <a to="/app/login/legacy"'>
                    <button type="button" class="btn btn-sm btn-default btn-responsive">
                        <b>Username/Pass</b>
                    </button>
                    </a>
                    <p> You can also use a username and password.
                        If this your first time logging in you should
                        <a hreff="/app/login/reset">
                        <b>Reset</b></a> your password
                    </p>
                </li>
            </ul>
        </div>
        <div class="help-section">
            <h3>
                Facebook Login
            </h3>
            <p>On the
                <a href="/app/login">
                login</a> page:
            </p>
            <div style="max-width: 330px; padding:10px">
                <img style="height: 100px" class="img-responsive" src="/img/login.png">
                </img>
            </div>
            <p>Click the Facebook button and you be redirected to FB for login</p>
            <p>FB may also ask you to <strong>authorize </strong>Society Leagues.</p>
            <div style="max-width: 600px; min-height: 300px">
                <img style="background-size: 100%; height:250px; width:500px" class="img-responsive" src="/img/fb.png">
                </img>
            </div>
            <p></p>
            <p><strong style="color: red">NOTE: </strong><strong>
                Society does not have any access to your facebook profile.
                It has access to your <strong>profile image </strong> which is already publicly available</strong>
            </p>
        </div>
        <div class="help-section">
            <h3>Username Login</h3>
            <p>If you choose username (email registered with society) as your login method than you need to click on the
                <strong>username</strong> button on the
                <a href="/app/login">
                login</a> page
            </p>
        </div>
        <div class="help-section">
            <h3>Reset Password</h3>
            <p><strong>If you use your email to login</strong> and do not know your password then
                <a href="/app/login/reset" >
                <strong>reset</strong></a>
            </p>
            <div style="max-width: 330px; padding: 10px;">
                <img style="height: 100px" class="img-responsive" src="img/login.png">
                </img>
            </div>
            <p>Click the username button on the login page</p>
            <p> Next click on the <strong>Forgot Password </strong> button</p>
            <div style="max-width: 330px; padding:10px">
                <img style="height: 110px" class="img-responsive" src="/img/username.png">
                </img>
            </div>
            <div style="max-width: 330px; padding:10px">
                <img style="height: 110px" class="img-responsive" src="/img/reset.png">
                </img>
            </div>

            <p>Enter the <strong>email </strong>you gave to society and click the button. An email should appear in your
                email in a minute or two</p>
        </div>
        <div class="help-section">
            <h3>Navigation</h3>
            <ul>
                <li>
                    <strong>Home</strong> - Displays your upcoming matches and 'leaders' within your division
                </li>
                <li><strong>My Team(s)</strong>
                    <ul>
                        <li>Standings - the division standings (1st,2nd, wins/losses)</li>
                        <li>Schedule & Matches - displays team match results and upcoming matches</li>
                        <li>Division Leaders - display a ranking of all players in the league</li>
                    </ul>
                </li>
                <li><strong>Top Gun</strong>
                    <p> Similar to
                        <stong>My Teams</stong>
                    </p>
                </li>
                <li>
                    <strong>History</strong> - Shows history of the divisions you participated in
                </li>
            </ul>
        </div>
        <div class="help-section">
            <h3>Definitions</h3>
            <ul>
                <li><strong>RW</strong>: Racks Won</li>
                <li><strong>RL</strong>: Racks Lost</li>
                <li><strong>SW</strong>: Set Wins (number of nine ball matches your team won)</li>
                <li><strong>SL</strong>: Set Lost (number of nine ball matches your team lost)</li>
                <li><strong>HC</strong>: Handicap</li>
            </ul>
        </div>
    </main>
</div>
</body>
</html>