<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
    <div id="stats-app"  layout:fragment="content">
        <div class="society-well society-well-stats society-well-user-stats">
        <div class="well-title">
            <h3>Stats</h3>
        </div>
            <select th:if="${statUser ne null}" id="users-stats-search">
                <option th:each="u : ${allUsers}"
                        th:selected="${u.getId().equals(statUser.getId())}"
                        th:value="${u.id}" th:text="${u.name}">
                </option>
            </select>
            <!--th:selected="${s.id == season.id}"-->
            <select th:onchange="'onSeasonChange()'" th:if="${activeSeasons ne null}" id="season-select">
                <option value="-1">All</option>
                <option th:if="${not s.isChallenge()}"
                        th:each="s : ${activeSeasons}"
                        th:value="${s.id}"
                        th:selected="${s.id == season.getId()}"
                        th:text="${s.getDayName()}">
                </option>
            </select>
            <div id="stats-line-lifetime">
            </div>
            <script th:inline="javascript">
                function onSeasonChange() {
                    window.location = window.location.pathname + '?seasonId=' + $('#season-select').val();
                }
            </script>

            <script th:inline="javascript">
                    /*<![CDATA[*/
                    var id = [[${statUser.getId()}]];
                    var seasonId = [[${season.getId()}]];
                     $.getJSON("/app/stats/lifetime/" + id + '?seasonId=' +  seasonId, function (json) {
                         console.log(json);
                         Morris.Bar({
                             element: 'stats-line-lifetime',
                             data: json,
                             smooth: true,
                             xkey: 'season',
                             ykeys: ['win','lost'],
                             labels: ['Win','Lost']
                         });
                     });
                    /*]]>*/
            </script>
        </div>
        <!--
              <div th:if="${not #lists.isEmpty(stats)}" class="table-responsive">
                <table class="table table-stats">
                    <thead>
                    <tr>
                        <th></th>
                        <th>HC</th>
                        <th>W</th>
                        <th>L</th>
                        <th>RW</th>
                        <th>RL</th>
                        <th>PCT</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="stat : ${stats}">

                        <td >
                            <a th:text="${stat.getSeason().getFormattedName()}" th:href="@{/app/stats/{id}/{sId} (id=${statUser.id},sId=${stat.getSeason().id})}"></a>
                        </td>
                        <td th:text="${stat.getHandicapDisplay()}"> </td>
                        <td th:text="${stat.getWins()}"> </td>
                        <td th:text="${stat.getLoses()}"> </td>
                        <td th:text="${stat.getRacksWon()}">
                        </td>
                        <td th:text="${stat.getRacksLost()}">
                        </td>
                        <td th:text="${'% ' + #numbers.formatDecimal(stat.getRackPct()*100,1,3)}"> </td>
                    </tr>
                    </tbody>
                </table>
              </div>

            <div th:if="${lifetimeStats ne null}" class="table-stats" th:include="stats/userStatsLifetime" ></div>
            <div th:if="${not #lists.isEmpty(topgunStats)}" class="table-stats" th:include="stats/userStatsTopgun" ></div>
            <div class="row" th:if="${not #lists.isEmpty(scrambleEightStats)}" >
                <div class="table-stats col-xs-12 col-md-6 col-lg-3" th:include="stats/userStatsScramble8">
                </div>
                <div class="table-stats col-xs-12 col-md-6 col-lg-3" th:include="stats/userStatsScramble9">
                </div>
            </div>
            <div th:if="${not #lists.isEmpty(tuesdayStats)}" class="table-stats" th:include="stats/userStatsTuesday" ></div>
            <div class="row"  >
                <div th:if="${not #lists.isEmpty(wednesdayStats)}" class="table-stats col-xs-12 col-md-6 col-lg-3" th:include="stats/userStatsWednesday" ></div>
                <div th:if="${not #lists.isEmpty(thursdayStats)}" class="table-stats col-xs-12 col-md-6 col-lg-3" th:include="stats/userStatsThursday" ></div>
            </div>
        </div>
        </div>
        <div th:if="${not #lists.isEmpty(results)}" class="user-results" th:include="results/userResults" ></div>
        -->
    </div>

</div>
