<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org">
            <div class="table-responsive">
                <table th:if="${not #lists.isEmpty(topgunStats)}" id="topgun-stats" class="table-bordered table-condensed table-striped table-grid table-stats">
                    <thead>
                    <tr>
                        <th></th>
                        <th>HC</th>
                        <th>P</th>
                        <th>W</th>
                        <th>L</th>
                        <th>RW</th>
                        <th>RL</th>
                        <th>PCT</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="stat : ${topgunStats}">
                        <!--@thymesVar id="stat" type="com.society.leagues.client.api.domain.Stat"-->
                        <td th:if="${!stat.isLifeTime()}" >
                            <a th:href="@{/app/stats/{id}/{sId} (id=${statUser.id},sId=${stat.getSeason().id})}">
                                Top Gun
                            </a>
                        </td>

                        <td th:if="${stat.isLifeTime()}" > Lifetime </td>
                        <td th:text="${stat.getHandicapDisplay()}"> </td>
                        <td th:text="${#numbers.formatDecimal(stat.getPoints(),1,3)}"> </td>
                        <td th:text="${stat.getWins()}"> </td>
                        <td th:text="${stat.getLoses()}"> </td>
                        <td th:text="${stat.getRacksWon()}"> </td>
                        <td th:text="${stat.getRacksLost()}"> </td>
                        <td th:text="${#numbers.formatDecimal(stat.getRackPct(),1,3)}"> </td>
                    </tr>
                    </tbody>
                </table>
    </div>
</div>

