<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
    <div id="stats-app"  layout:fragment="content">
        <div th:if="${statUser ne null}" class="input-group custom-search-form">
            <select id="users-stats-search" class="form-control" >
                <option th:each="u : ${allUsers}" th:selected="${u.getId().equals(statUser.getId())}"
                        th:value="${u.id}" th:text="${u.name}"></option>
            </select>
            <span class="input-group-btn">
                <button onclick="searchUserStats()" class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            Stats
        </div>
        <div class="panel-body">
            <div th:if="${lifetimeStats ne null}" class="table-stats" th:include="stats/userStatsLifetime" ></div>
            <div th:if="${not #lists.isEmpty(topgunStats)}" class="table-stats" th:include="stats/userStatsTopgun" ></div>
            <div class="row" th:if="${not #lists.isEmpty(scrambleEightStats)}" >
                <div class="table-stats col-xs-12 col-md-6 col-lg-3" th:include="stats/userStatsScramble8">
                </div>
                <div class="table-stats col-xs-12 col-md-6 col-lg-3" th:include="stats/userStatsScramble9">
                </div>
            </div>
            <div th:if="${not #lists.isEmpty(tuesdayStats)}" class="table-stats" th:include="stats/userStatsTuesday" ></div>
            <div class="row"  >
                <div th:if="${not #lists.isEmpty(wednesdayStats)}" class="table-stats col-xs-12 col-md-6 col-lg-3" th:include="stats/userStatsWednesday" ></div>
                <div th:if="${not #lists.isEmpty(thursdayStats)}" class="table-stats col-xs-12 col-md-6 col-lg-3" th:include="stats/userStatsThursday" ></div>
            </div>
        </div>
        </div>
        <div th:if="${not #lists.isEmpty(results)}" class="user-results" th:include="results/userResults" ></div>
    </div>

</div>