<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
  <head>
    <!--  Each token will be replaced by their respective titles in the resulting page. -->
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Society Leagues</title>
    <link th:replace="fragments/style"/>
  </head>
  <body>
  <div id="wrapper">
    <div th:replace="fragments/header"></div>
    
    <div id"=page-wrapper" class="container" >
      <div layout:fragment="content"></div>
    </div>
    
    <div th:replace="fragments/footer"></div>
    
    <div th:replace="fragments/js"></div>
  </div>
  </body>
</html>