<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org">
                <div class="table-responsive">
                <table id="thursday-stats" th:if="${not #lists.isEmpty(thursdayStats)}" class="table-bordered table-condensed table-striped table-grid table-stats">
                    <thead>
                    <tr>
                        <th>Thursday</th>
                        <th>HC</th>
                        <th>Team</th>
                        <th>W</th>
                        <th>L</th>
                        <th>PCT</th>
                    </tr>
                    </thead>
                    <tfoot>
                     <tr>
                        <td>Lifetime</td>
                         <td></td>
                         <td></td>
                        <td th:text="${thursdayStatsLifetime.getWins()}"> </td>
                        <td th:text="${thursdayStatsLifetime.getLoses()}"> </td>
                        <td th:text="${#numbers.formatDecimal(thursdayStatsLifetime.getRackPct(),1,3)}"> </td>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="stat : ${thursdayStats}">
                        <!--@thymesVar id="stat" type="com.society.leagues.client.api.domain.Stat"-->
                        <td>
                            <a th:text="${stat.getSeason().getFormattedName()}" th:href="@{/stats/{id}/{sId} (id=${statUser.id},sId=${stat.getSeason().id})}"></a>
                        </td>
                        <td th:text="${stat.getHandicapDisplay()}"> </td>
                        <td th:text="${stat.getTeam().getName()}"> </td>
                        <td th:text="${stat.getWins()}"> </td>
                        <td th:text="${stat.getLoses()}"> </td>
                        <td th:text="${#numbers.formatDecimal(stat.getRackPct(),1,3)}"> </td>
                    </tr>
                    </tbody>
                </table>
                </div>
</div>

