<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org" >

<div th:fragments="eightScores">
    <!--/*@thymesVar id="season" type="com.society.leagues.client.api.domain.Season"*/-->
    <!--/*@thymesVar id="date" type="java.lang.String"*/-->
    <div class="table-responsive">
        <table id="team-match-results" class="table table-scores">
            <thead>
            <th></th>
            <th></th>
            <th>Date</th>
            <th>Time</th>
            <th class="name">Home</th>
            <th class="racks">Racks</th>
            <th class="racks">Forfeits</th>
            <th class="name">Away</th>
            <th class="racks">Racks</th>
            <th class="racks">Forfeits</th>
            <th th:class="${season.isScramble()}? 'show' : 'hide'">Game</th>
            <th >Sheet</th>
            </thead>
            <tbody>

            <!--/*@thymesVar id="matches" type="List<com.society.leagues.client.api.domain.TeamMatch>"*/-->
            <!--/*@thymesVar id="match" type="com.society.leagues.client.api.domain.TeamMatch"*/-->
            <tr th:id="${match.id}" th:each="match, rowStat: *{matches}">
                <td class="delete">
                    <a th:id="${'delete-' + match.getId()}" th:href="@{/scores/{id}/{matchId}/delete/{date} (id=${season.id},date=${date},matchId=${match.id})}">
                        <h4><span class="label label-danger"><span class="glyphicon glyphicon-remove"></span></span></h4>
                    </a>
                </td>
                <td class="results">
                    <a th:id="${'player-results-' + match.getId()}" th:href="@{/scores/{id}/{matchId} (id=${season.id},date=${date},matchId=${match.id})}">
                        <h4><span class="label label-primary">Results</span></h4>
                    </a>
                </td>
                <input th:field="*{matches[__${rowStat.index}__].id}" type="hidden" th:value="${match.id}"/>
                <td class="date" >
                    <input class="date" th:id="${'date-' + match.getId()}" th:field="*{matches[__${rowStat.index}__].date}"
                           type="text" name="date"
                           th:value="${match.getDate()}"/>
                </td>
                 <td class="match-time" >
                     <select  th:id="${'time-' +match.getId()}" th:field="*{matches[__${rowStat.index}__].time}" >
                         <option th:selected="${match.getTime().equals('19:00')}" value="19:00" >7:00</option>
                         <option th:selected="${match.getTime().equals('11:00')}" value="11:00">11:00</option>
                         <option th:selected="${match.getTime().equals('12:00')}" value="12:00">12:00</option>
                         <option th:selected="${match.getTime().equals('13:00')}" value="14:00">1:00</option>
                         <option th:selected="${match.getTime().equals('14:00')}" value="14:00">2:00</option>
                         <option th:selected="${match.getTime().equals('15:00')}" value="15:00">3:00</option>
                         <option th:selected="${match.getTime().equals('16:00')}" value="16:00">4:00</option>
                         <option th:selected="${match.getTime().equals('17:00')}" value="17:00">5:00</option>

                         <option th:selected="${match.getTime().equals('18:00')}" value="18:00">6:00</option>
                         <option th:selected="${match.getTime().equals('19:30')}" value="18:30">6:30</option>
                         <option th:selected="${match.getTime().equals('20:30')}" value="19:30">7:30</option>
                         <option th:selected="${match.getTime().equals('20:00')}" value="20:00" >8:00</option>
                         <option th:selected="${match.getTime().equals('21:30')}" value="20:30">8:30</option>
                         <option th:selected="${match.getTime().equals('21:00')}" value="21:00" >9:00</option>
                     </select>
                </td>
                <td class="name">
                    <select th:id="${'home-' + match.getId()}" th:field="*{matches[__${rowStat.index}__].home.id}" class="form-control">
                        <option th:each="team: ${teams}"
                                th:text="${team.name}"
                                th:value="${team.id}"
                                th:selected="${team.id == match.home.id}"
                        ></option>
                    </select>
                </td>
                <td class="racks" >
                    <input class="racks" th:id="${'homeRacks-' + match.getId()}" th:field="*{matches[__${rowStat.index}__].homeRacks}" type="text"
                           th:value="${match.homeRacks}"/>
                </td>
                <td class="racks" >
                    <input class="racks" th:id="${'homeForfeits-' + match.getId()}" th:field="*{matches[__${rowStat.index}__].homeForfeits}" type="text"
                           th:value="${match.homeForfeits}"/>
                </td>
                <td class="name">
                    <select th:id="${'away-' + match.getId()}" th:field="*{matches[__${rowStat.index}__].away.id}" class="form-control">
                        <option th:each="team: ${teams}"
                                th:text="${team.name}"
                                th:value="${team.id}"
                                th:selected="${team.id == match.away.id}"
                        ></option>
                    </select>
                </td>
                <td class="racks" >
                    <input class="racks" th:id="${'awayRacks-' + match.getId()}" th:field="*{matches[__${rowStat.index}__].awayRacks}" type="text"
                           th:value="${match.awayRacks}"/>
                </td>
                <td class="racks">
                    <input class="racks" th:id="${'awayForfeits-' + match.getId()}" th:field="*{matches[__${rowStat.index}__].awayForfeits}" type="text"
                           th:value="${match.awayForfeits}"/>
                </td>
                <td th:class="${season.isScramble()}? 'show name' : 'hide'">
                      <select class="game-type" th:id="${'game-' + match.getId()}" th:field="*{matches[__${rowStat.index}__].division}">
                          <option th:value="${eightDivision}" th:selected="${match.getDivision() == eightDivision}">8</option>
                          <option th:value="${nineDivision}" th:selected="${match.getDivision() == nineDivision}">9</option>
                      </select>
                </td>
                <td class="sheet-link">
                    <a th:id="${'sheet-' + match.getId()}" th:href="@{/sheets/{matchId} (matchId=${match.id})}">
                       <h4> <span class="label label-primary" >Sheet </span></h4>
                    </a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

