.profile-pic {
    background-size: 100%;
    display: inline-block;
    /*
    height: 40px;
    width: 40px;
    */
    padding: 0px;
}

.user-profile  {
    text-align: left;
    vertical-align: inherit;
    float: left;
    cursor: pointer;
}

.z-content {
    cursor: pointer;
}


.user {

}