<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Challenge Scores</title>
</head>

<body>
<div th:fragments="challengeScores">
    <!--/*@thymesVar id="season" type="com.society.leagues.client.api.domain.Season"*/-->
    <!--/*@thymesVar id="date" type="java.lang.String"*/-->
    <div class="table-responsive">
        <table id="team-match-results" class="table table-stripped table-bordered table-condensed table">
            <thead>
            <th></th>
            <th>Date</th>
            <th>Time</th>
            <th>Challenger</th>
            <th>Racks</th>
            <th>Opponent</th>
            <th>Racks</th>
            <th>Race</th>
            </thead>
            <tbody>

            <!--/*@thymesVar id="matches" type="List<com.society.leagues.client.api.domain.TeamMatch>"*/-->
            <tr th:id="${match.id}" th:each="match, rowStat: *{matches}">
                <!--/*@thymesVar id="match" type="com.society.leagues.client.api.domain.TeamMatch"*/-->
                <td>
                    <a th:id="${'delete-' + match.getId()}" th:href="@{/app/scores/{id}/{matchId}/delete/{date} (id=${season.id},date=${date},matchId=${match.id})}">
                        X
                    </a>
                </td>

                <input th:field="*{matches[__${rowStat.index}__].id}" type="hidden" th:value="${match.id}">
                <td>
                    <input class="match-date" th:id="${'date-' + match.getId()}"  th:field="*{matches[__${rowStat.index}__].date}" type="text" th:value="${match.getDate()}">
                </td>
                <td>
                    <input class="match-time" th:id="${'time-' +match.getId()}" th:field="*{matches[__${rowStat.index}__].time}" type="text" th:value="${match.getTime()}">
                </td>
                <td>

                    <select th:id="${'home-' + match.getId()}" th:field="*{matches[__${rowStat.index}__].home.id}" class="form-control">
                        <option th:each="team: ${teams}"
                                th:text="${team.name}"
                                th:value="${team.id}"
                                th:selected="${team.id == match.home.id}"
                        ></option>
                    </select>
                </td>
                <td>
                    <input  th:id="${'homeRacks-' +match.getId()}" th:field="*{matches[__${rowStat.index}__].homeRacks}" type="text"
                           th:value="${match.homeRacks}">
                    <input th:id="${'homeForfeits-' + match.getId()}" th:field="*{matches[__${rowStat.index}__].homeForfeits}" type="hidden"
                           th:value="${match.homeForfeits}"/>
                </td>
                <td>
                    <select th:id="${'away-' + match.getId()}" th:field="*{matches[__${rowStat.index}__].away.id}" class="form-control">
                        <option th:each="team: ${teams}"
                                th:text="${team.name}"
                                th:value="${team.id}"
                                th:selected="${team.id == match.away.id}"
                        ></option>
                    </select>
                </td>
                <td>
                    <input th:id="${'awayRacks-' + match.getId()}" th:field="*{matches[__${rowStat.index}__].awayRacks}" type="text"
                           th:value="${match.awayRacks}">
                    <input th:id="${'awayForfeits-' + match.getId()}" th:field="*{matches[__${rowStat.index}__].awayForfeits}" type="hidden"
                           th:value="${match.awayForfeits}"/>
                </td>
                <td th:text="${match.getRace()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>

