<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<div id="score-app" >
    <!--/*@thymesVar id="save" type="java.lang.String"*/-->
    <!--/*@thymesVar id="error" type="java.lang.String"*/-->
    <div th:if="${save eq 'success'}">
        <div id="success" class="alert alert-success alert-dismissible" role="alert">
            <strong>Success!</strong> Updated Successfully.
        </div>
    </div>
    <div th:if="${save eq 'error'}">
        <div id="error" class="alert alert-danger alert-dismissible" role="alert">
            <strong>Error!</strong>
            <pre th:text="${error}"></pre>
        </div>
    </div>

    <!--/*@thymesVar id="season" type="com.society.leagues.client.api.domain.Season"*/-->
    <div th:if="${season ne null}" class="row">
        <div class="col-xs-12 col-md-6 col-lg-5">
            <div class="panel panel-default">
                <div th:text="${season.getFormattedName()}" class="panel-heading">
                    Standings
                </div>
                <div class="panel-body">
                    <div id="display-eight" th:if="${season.isEight()}" th:include="display/displayEight"></div>
                    <div id="display-scramble" th:if="${season.isScramble()}" th:include="display/displayEight"></div>
                    <div id="display-nine" th:if="${season.isTuesdayNine()}" th:include="display/displayNine"></div>
                    <div id="display-topgun" th:if="${season.isChallenge()}" th:include="display/displayTopgun"></div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="scores/season"></div>
</div>
</div>

