<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org">
<div th:fragments="playerresults">
    <div th:if="${results ne null}" id="player-results">
        <form id="result-form" th:object="${results}" th:method="post" method="post"
              th:action="@{/app/scores/{id}/{matchId}/{date} (id=${season.id},date=${date},matchId=${results.matchId})}">
            <div class="panel panel-default panel-challenge">
                <div class="panel-heading">
                    <div class="panel-title"><span th:text="${results.getName()}"></span>
                    <span>
                        <a th:href="@{/app/scores/{id}/{matchId}/add/{date} (id=${season.id},date=${date},matchId=${results.matchId})}">Add</a>
                    </span>
                        <span>
                            <a th:href="@{/app/scores/{id}/{matchId}/add/{date}/four (id=${season.id},date=${date},matchId=${results.matchId})}"> Add Four</a>
                        </span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="table-player-results-admin" class="table table-stripped table-bordered table-condensed table">
                            <thead>
                            <th></th>
                            <th>#</th>
                            <th>Home</th>
                            <th th:text="'Wins (' + ${homeWins} + ')'" >>Racks</th>
                            <th>Away</th>
                            <th th:text="'Wins (' + ${awayWins} + ')'" >>Racks</th>
                            </thead>
                            <tbody>
                            <tr th:id="${result.getId()}" th:each="result, rowStat: *{playerResults}">
                                <!--/*@thymesVar id="match" type="com.society.leagues.client.api.domain.PlayerResult"*/-->
                                <td th:id="'delete-player-result-' + ${result.getId()}">
                                    <a th:href="@{/app/scores/{id}/{matchId}/{resultId}/delete/{date}
                                    (id=${season.id},date=${date},matchId=${results.matchId},resultId=${result.id})}">X</a>
                                </td>
                                <td>
                                    <input th:field="*{playerResults[__${rowStat.index}__].matchNumber}" type="text"
                                           th:value="${result.matchNumber}"/>
                                </td>
                                <input th:field="*{playerResults[__${rowStat.index}__].id}" type="hidden"
                                       th:value="${result.id}"/>
                                <input th:field="*{playerResults[__${rowStat.index}__].teamMatch.id}" type="hidden"
                                       th:value="${result.teamMatch.id}"/>
                                <td>
                                    <select th:field="*{playerResults[__${rowStat.index}__].playerHome.id}"
                                            class="form-control">
                                        <option th:each="user: ${homeMembers}"
                                                th:text="${user.name}"
                                                th:value="${user.id}"
                                                th:selected="${user.id == result.playerHome.id}"
                                        ></option>
                                    </select>
                                </td>
                                <td>
                                    <input th:id="'homeRacks-' +  ${result.id}"
                                           th:value="${result.homeRacks}"
                                           th:field="*{playerResults[__${rowStat.index}__].homeRacks}"
                                           type="text"
                                    />

                                </td>
                                <td>
                                    <select th:field="*{playerResults[__${rowStat.index}__].playerAway.id}"
                                            class="form-control">
                                        <option th:each="user: ${awayMembers}"
                                                th:text="${user.name}"
                                                th:value="${user.id}"
                                                th:selected="${user.id == result.playerAway.id}"
                                        ></option>
                                    </select>
                                </td>
                                <td>
                                    <input
                                           th:id="'awayRacks-' + ${result.id}"
                                           th:value="${result.awayRacks}"
                                           th:field="*{playerResults[__${rowStat.index}__].awayRacks}"
                                           type="text"
                                    />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <input id="player-results-submit" type="submit" value="submit"/></div>
            </div>
        </form>
    </div>
</div>
</div>