<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Society Leagues</title>
    <link rel="stylesheet" href="/resources/public/css/society.css">
    <link rel="stylesheet" href="/resources/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/jquery.datetimepicker.css">
</head>

<body id="loginApp">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Society League</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<!--
    <header class="page-header">
        <div>
            <a href="#">
                <img class="logo" src="/resources/img/logo.png">
            </a>
            <span class="header-element page-title">Society Leagues</span>
        </div>
    </header>
-->
<main ng-controller="BaseFormCtrl">

    <tt-error-messages extra-styles="access-screen"></tt-error-messages>
    <div class="container">
        <div class="login-container">
            <form ng-submit="onLogin()" name="form" class="login-form" novalidate ng-controller="LoginCtrl">
                <fieldset>
                    <legend>Log In</legend>
                    <div class="form-field">
                        <input type="text" ng-focus="focus('username')"
                               ng-blur="blur('username')"
                               ng-model="vm.username"
                               name="username" placeholder="Username">

                        <div class="error-messages" ng-show="isMessagesVisible('username')"
                             ng-messages="form.username.$error" ng-cloak>
                            <div ng-message="required">The username is mandatory</div>
                        </div>
                    </div>
                    <div class="last-form-field">
                        <input type="password" ng-focus="focus('password')" ng-blur="blur('password')"
                               ng-model="vm.password" name="password" placeholder="Password" required ng-minlength="4">

                        <div class="error-messages" ng-show="isMessagesVisible('password')"
                             ng-messages="form.password.$error" ng-cloak>
                            <div ng-message="required">The password is mandatory</div>
                        </div>
                    </div>
                </fieldset>

                <button type="submit"> Log In</button>
            </form>
        </div>
    </div>
</main>

<script type="text/javascript" data-main="/resources/public/js/run-login-app"
        src="/resources/bower_components/requirejs/require.js"></script>
<script src="/resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
