<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login </title>
    <link rel="stylesheet" type="text/css" href="/resources/public/css/society.css">
</head>
<body id="loginApp">

    <header class="page-header">
        <div>
            <a href="#">
                <img class="logo" src="/resources/img/logo.png">
            </a>
            <span class="header-element page-title">Society Leagues</span>
        </div>
    </header>

    <main ng-controller="BaseFormCtrl">

        <tt-error-messages extra-styles="access-screen"></tt-error-messages>

        <div class="login-container">
            <form ng-submit="onLogin()" name="form" class="login-form" novalidate ng-controller="LoginCtrl">
                <fieldset>
                    <legend>Log In</legend>
                    <div class="form-field">
                        <input type="text" ng-focus="focus('username')"
                               ng-blur="blur('username')"
                               ng-model="vm.username"
                               name="username" placeholder="Username">

                        <div class="error-messages" ng-show="isMessagesVisible('username')" ng-messages="form.username.$error" ng-cloak>
                            <div ng-message="required">The username is mandatory</div>
                        </div>
                    </div>
                    <div class="last-form-field">
                        <input type="password" ng-focus="focus('password')"  ng-blur="blur('password')" ng-model="vm.password"
                               name="password"  placeholder="Password" required ng-minlength="4"
                               >
                        <div class="error-messages" ng-show="isMessagesVisible('password')" ng-messages="form.password.$error" ng-cloak>
                            <div ng-message="required">The password is mandatory</div>
                        </div>
                    </div>
                </fieldset>

                <button type="submit" > Log In</button>
            </form>
        </div>

    </main>

    <script type="text/javascript" data-main="/resources/public/js/run-login-app"
            src="/resources/bower_components/requirejs/require.js"></script>

</body>
</html>
