<!DOCTYPE html  "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
    <!--/*@thymesVar id="user" type="com.society.leagues.client.api.domain.User"*/-->
  <div id="home-app" layout:fragment="content">
      <div th:if="${user ne null}" th:text="${user.getFirstName()}" id="name" class="hide"></div>
      <div id="challenge-broadcast" class="challenges">
          <div th:replace="challenge/broadcast"></div>
      </div>
      <!--/*@thymesVar id="match" type="com.society.leagues.model.MatchModel"*/-->
      <!--/*@thymesVar id="stat" type="com.society.leagues.client.api.domain.Stat"*/-->
      <div id="upcoming-matches" th:if="${upcomingMatches ne null}" class="society-well">
          <div class="well-title">
              <h4>
                  <i class="fa fa-bell fa-fw"></i> <span>Upcoming Matches</span>
              </h4>
          </div>
           <div class="table-responsive">
           <table id="upcoming-table" class="table" >
               <thead>
               </thead>
               <tbody>
               <div style="display:none;"></div>
               <tr th:each="match : ${upcomingMatches}" >
                   <td class="name">
                       <a th:if="${match.getSeason().isChallenge()}" th:text="${match.getOpponent(user).getName()}"
                          th:href="@{/display/{seasonId}/user/{userId} (seasonId=${match.getSeason().getId()},userId=${match.getChallenger().getId()})}">
                       </a>
                       <a th:if="${!match.getSeason().isChallenge()}" th:text="${match.getOpponent(user).getName()}"
                          th:href="@{/display/{seasonId}/{teamId} (seasonId=${match.getSeason().getId()},teamId=${match.getOpponent(user).getId()})}">
                       </a>
                   </td>
                   <td class="short-date">
                       <a th:href="@{/schedule/{seasonId} (seasonId=${match.getSeason().getId()})}">
                           <!--<span th:text="${#temporals.format(match.getMatchDate(), 'MMM dd H:mm')}" class="badge badge-date"></span>-->
                           <span th:text="${#temporals.format(match.getDefaultMatchDate(), 'MMM dd h:mm')}" ></span>
                       </a>
                   </td>
               </tr>
               </tbody>
           </table>
           </div>
      </div>

      <div th:if="${topPlayers ne null}" th:each="season : ${topPlayers.keySet()}" class="society-well">
          <div class="well-title">
              <h4>
                  <a th:href="@{/display/{id} (id=${season.getId()})}" >
                      <i class="fa fa-trophy"></i>
                      <span id="top-players">Top Players - </span>
                      <span th:text="${season.getDayName()}"></span>
                  </a>
              </h4>
          </div>
           <div th:class="${topPlayers.get(season).isEmpty() ? 'hide' : 'table-responsive'}">
           <table th:id="${'top-players-' + season.getId()}" class="table table-stats" >
               <thead>
               <tr>
                   <th>Name</th>
                   <th>HC</th>
                   <th th:if="${season.isChallenge()}">P</th>
                   <th>W</th>
                   <th>L</th>
                   <th>PCT</th>
               </tr>
               </thead>
               <tbody>
               <tr th:each="stat : ${topPlayers.get(season)}" >
                   <td >

                       <img   class="avatar img-responsive" th:if="${stat ne null}" th:src="${stat.getUser().getAvatarUrl()}"/>
                       <a  class="name" th:href="@{/display/{seasonId}/user/{userId} (seasonId=${stat.getSeason().getId()},userId=${stat.getUser().getId()})}">
                           <span th:text="${stat.getUser().getName()}"></span>
                       </a>
                   </td>
                   <td class="handicap">
                       <span th:text="${stat.getHandicap().getDisplayName()}"  href="#"></span>
                   </td>
                   <td th:if="${season.isChallenge()}"  th:text="${#numbers.formatDecimal(stat.getPoints(),1,3)}"></td>
                   <td class="wins">
                       <span  th:text="${stat.getWins()}" href="#"></span>
                   </td>
                   <td class="lost">
                       <span  th:text="${stat.getLoses()}" href="#"></span>
                   </td>
                   <td class="pct">
                       <span th:if="${season.isNine()}" th:text="${'% ' +  #numbers.formatDecimal(stat.getRackPct()*100,0,2)}"></span>
                       <span th:if="${!season.isNine()}" th:text="${'% ' +  #numbers.formatDecimal(stat.getWinPct()*100,0,2)}"></span>
                   </td>
               </tr>
               </tbody>
           </table>
           </div>
      </div>

      <div th:if="${userStats ne null}" class="society-well">
          <div class="well-title">
              <h4>
              <i class="fa fa-bar-chart"></i> <span>My Stats</span>
              </h4>
          </div>
           <div class="table-responsive">
           <table class="table table-stats" >
               <thead>
               <tr>
                   <th>Season</th>
                   <th>HC</th>
                   <th>W</th>
                   <th>L</th>
                   <th>PCT</th>
               </tr>
               </thead>
               <tbody>
               <tr th:each="stat : ${userStats}" >
                   <td class="name" >
                       <a th:id="'stats-' + ${stat.getSeason().getId()}" th:text="${stat.getSeason().getDayName()}"
                          th:href="@{/stats/{id} (id=${user.getId()})}" ></a>
                   </td>
                   <td class="handicap">
                       <span th:text="${stat.getHandicap().getDisplayName()}"  href="#"></span>
                   </td>
                   <td class="wins">
                       <span  th:text="${stat.getWins()}" href="#"></span>
                   </td>
                   <td class="lost">
                       <span  th:text="${stat.getLoses()}" href="#"></span>
                   </td>
                   <td class="pct">
                       <span th:text="${'% ' +  #numbers.formatDecimal(stat.getWinPct()*100,0,2)}"></span>
                   </td>
               </tr>
               </tbody>
           </table>
           </div>
      </div>

      <!--
      <div class="society-well welcome-name">
          <h2 id="name" th:text="${'Welcome! ' + user.getFirstName()}"></h2>
      </div>
      -->
  </div>
</div>
