<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org">
    <div class="table-responsive">
        <table th:if="${not #lists.isEmpty(displayMemberStats)}"  th:id="${'table-team-members-' + team.getId()}" class="table table-stats">

            <thead>
            <tr>
                <th>Player</th>
                <th></th>
                <th>HC</th>
                <th>P</th>
                <th>W</th>
                <th>L</th>
                <th>RW</th>
                <th>RL</th>
                <th>PCT</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="stat" type="com.society.leagues.client.api.domain.Stat"*/-->
            <!--/*@thymesVar id="team" type="com.society.leagues.client.api.domain.Team"*/-->
            <tr th:id="'team-member-' + ${stat.getUser().getId()}" th:each="stat : ${displayMemberStats}">
                <td th:class="${stat.getUser().equals(displayUser) ? ' active schedule-link name' : 'schedule-link name'}">
                    <img  th:fragments="avatarUser" class="avatar img-responsive" th:if="${stat ne null}" th:src="${stat.getUser().getAvatarUrl()}"/>
                    <a href="#"
                       th:href="@{/display/{id}/{teamId}/{userId} (id=${season.getId()},teamId=${team.getId()},userId=${stat.getUser().getId()})}">
                       <span th:text="${stat.getUser().getName()}"></span>
                    </a>
                </td>
                <td >
                    <a th:href="@{/stats/{id} (id=${stat.getUser().getId()})}">
                        <i  class="fa fa-bar-chart"></i>
                    </a>
                </td>
                <td th:text="${stat.getHandicapDisplay()}"></td>
                <td th:text="${stat.getPoints().intValue()}"></td>
                <td th:text="${stat.getWins()}"></td>
                <td th:text="${stat.getLoses()}"></td>
                <td th:text="${stat.getRacksWon()}"></td>
                <td th:text="${stat.getRacksLost()}"></td>
                <td th:text="${'% ' + #numbers.formatDecimal(stat.getRackPct()*100,0,2)}"></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>