<!DOCTYPE html  "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorator="layout">
    <!--/*@thymesVar id="user" type="com.society.leagues.client.api.domain.User"*/-->
    <div id="login-app" layout:fragment="content">
        <!--<div class="container fluid container-fluid wrap">-->
        <div class="login-container well col-md-5 col-sm-5">
            <form name="fb_signin" id="fb_signin" th:action="@{${fbEndpoint} + '/signin/facebook'}" method="POST">
                <h2 class="form-signin-heading">Please Log In</h2>
                <div class="row" data-reactid=".0.0.0.0.1">
                    <div class="btn-group col-lg-6 col-md-7 col-sm-12 col-xs-12 login-options">
                        <input type="hidden" name="scope" value="public_profile,email,user_friends">
                        <input type="hidden" value="true" name="springRememberMe">
                        <button class="btn btn-sm  btn-facebook btn-responsive" type="submit">
                            <i class="fa fa-facebook"></i><span> Facebook</span></button>
                    </div>
                    <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
                        <a id="login-legacy" class="" href="/app/login/legacy">
                            <button type="button" class="btn btn-sm btn-default btn-responsive">
                                <b data-reactid=".0.0.0.0.1.1.0.0.0">Username</b></button>
                        </a>
                        <a class="hide" href="/app/help">
                            <button class="btn btn-sm btn-default btn-responsive pull-right">
                                <b>Help </b>
                                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                            </button>
                        </a>
                    </div>
                </div>
                <div style="margin-top:10px;">

                </div>
            </form>
        </div>
    </div>
</div>

