<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" >
<head>
      <link href="/app/css/bootstrap.min.css" rel="stylesheet" />
<link href="/app/css/bootstrap-social.css" rel="stylesheet" />
<link href="/app/css/font-awesome.min.css" rel="stylesheet" />
<!--<link rel="stylesheet" href="/app/css/metisMenu.min.css" />-->
<link href="/app/css/select2.min.css" rel="stylesheet" />
<link href="/app/css/select2-bootstrap.min.css" rel="stylesheet" />
<link href="/app/css/society-dashboard.css" rel="stylesheet" />
<link href="/app/css/jquery.dynatable.css" rel="stylesheet" />
<link href="/app/css/jquery.datetimepicker.css" rel="stylesheet" />
<link href="/app/css/toggle/base.css" rel="stylesheet" />
<link href="/app/css/toggle/style.css" rel="stylesheet" />
<link href="/app/css/society.css" rel="stylesheet" />
<link href="/app/css/society-main.css" rel="stylesheet" />
<link href="/app/css/switch.css" rel="stylesheet" />

    <script src="/app/js/jquery.min.js"></script>
<script src="/app/js/bootstrap.min.js"></script>
<script src="/app/js/select2.min.js"></script>
<script src="/app/js/jquery.dynatable.js"></script>
<script src="/app/js/jquery.datetimepicker.full.min.js"></script>
<script src="/app/js/js.cookie.js"></script>
<script src="/app/js/society.js"></script>



</head>
<body class="login">
  <div id="wrapper">
    <div id="page-wrapper" >
        <div id="login-app" class="container fluid container-fluid wrap">
        <div class="login-container well col-md-5 col-sm-5" >
            <form name="login" id="login" action="/app/login" method="POST">
                <h2 class="form-signin-heading" >Please Log In</h2>
                <div class="form-field form-group">
                    <div class="form-group" >
                        <input type="hidden" name="scope" value="public_profile,email,user_friends" >
                        <input type="hidden" value="true" name="springRememberMe" >
                        <input id="username" type="input" name="username" placeholder="enter email" class="form-control">
                    </div>
                    <div class="form-group" >
                        <input id="password" autocorrect="off" autocapitalize="off" type="password" name="password" placeholder="enter password" class="form-control">
                    </div>
                    <div class="row">
                        <div class="btn-group col-lg-6 col-md-7 col-xs-5 login-options" data-reactid=".0.0.0.2.0">
                            <button id="submit" type="submit" class="btn btn-sm btn-primary btn-responsive">
                                <b data-reactid=".0.0.0.2.0.0.0">Login</b></button></div>
                        <div class="col-lg-6 col-md-5 col-xs-5" data-reactid=".0.0.0.2.1">
                            <a class="" href="/app/login/reset" data-reactid=".0.0.0.2.1.0">
                                <button type="button" class="btn btn-sm btn-default btn-responsive pull-right">
                                    <b data-reactid=".0.0.0.2.1.0.0.0">Forgot Password?</b></button></a>
                        </div>
                    </div>
                </div>
                <div style="margin-top:10px;">

                </div>
            </form>
        </div>
        </div>
  </div>
  </div>
</body>
</html>
