<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <link rel="stylesheet" href="/app/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/app/css/bootstrap-social.css" />
    <link rel="stylesheet" href="/app/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/app/css/select2.min.css" />
    <link rel="stylesheet" href="/app/css/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="/app/css/society-dashboard.css" />
    <link rel="stylesheet" href="/app/css/jquery.dynatable.css" />
    <link rel="stylesheet" href="/app/css/jquery.datetimepicker.css" />
    <link rel="stylesheet" href="/app/css/society.css" />
    <link rel="stylesheet" href="/app/css/society-main.css" />
<script src="/app/js/jquery.min.js"></script>
<script src="/app/js/bootstrap.min.js"></script>
<script src="/app/js/select2.min.js"></script>
<script src="/app/js/jquery.dynatable.js"></script>
<script src="/app/js/jquery.datetimepicker.full.min.js"></script>
<script src="/app/js/js.cookie.js"></script>
<script src="/app/js/society.js"></script>

</head>
<body class="login">
    <div id="page-wrapper" >
        <div id="login-app" class="container fluid container-fluid wrap">
        <div class="login-container well col-md-5 col-sm-5" >
            <h4 style="text-align: center">See email for password reset link</h4>
        </div>
        </div>
    </div>
</body>
</html>
