<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorator="layout">
    <div id="reset-app" layout:fragment="content">
        <div class="login-container well col-md-5 col-sm-5" >
            <form name="login" id="login" action="/app/login/reset" method="POST">
                <h2 class="form-signin-heading" >Enter Email</h2>
                 <div th:if="${error ne null}" class="alert alert-danger alert-dismissible" role="alert">
                     <pre th:text="${error}"></pre>
                 </div>

                <div class="form-field form-group" data-reactid=".0.0.0.1">
                    <div class="form-group" data-reactid=".0.0.0.1.0">
                        <input id="username"  autocorrect="off" autocapitalize="off" type="input" name="username" class="form-control" placeholder="enter email" data-reactid=".0.0.0.1.0.0"> </div></div>
                <button class="btn btn-default" data-reactid=".0.0.0.2">Reset Password</button>
            </form>
        </div>
    </div>
</div>

