<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" >
<head>
      <link href="/app/css/bootstrap.min.css" rel="stylesheet" />
<link href="/app/css/bootstrap-social.css" rel="stylesheet" />
<link href="/app/css/font-awesome.min.css" rel="stylesheet" />
<!--<link rel="stylesheet" href="/app/css/metisMenu.min.css" />-->
<link href="/app/css/select2.min.css" rel="stylesheet" />
<link href="/app/css/select2-bootstrap.min.css" rel="stylesheet" />
<link href="/app/css/society-dashboard.css" rel="stylesheet" />
<link href="/app/css/jquery.dynatable.css" rel="stylesheet" />
<link href="/app/css/jquery.datetimepicker.css" rel="stylesheet" />
<link href="/app/css/toggle/base.css" rel="stylesheet" />
<link href="/app/css/toggle/style.css" rel="stylesheet" />
<link href="/app/css/society.css" rel="stylesheet" />
<link href="/app/css/society-main.css" rel="stylesheet" />
<link href="/app/css/switch.css" rel="stylesheet" />

    <script src="/app/js/jquery.min.js"></script>
<script src="/app/js/bootstrap.min.js"></script>
<script src="/app/js/select2.min.js"></script>
<script src="/app/js/jquery.dynatable.js"></script>
<script src="/app/js/jquery.datetimepicker.full.min.js"></script>
<script src="/app/js/js.cookie.js"></script>
<script src="/app/js/society.js"></script>

</head>
<body class="login">
<div id="page-wrapper" >
    <div id="login-app" class="container fluid container-fluid wrap">
        <div class="login-container well col-md-5 col-sm-5" >
            <h2 class="form-signin-heading">Please Provide Registered Email</h2>
           <form name="fb_signin" id="fb_signin" action="/app/signup" method="POST">
               <div class="form-field form-group">
                <div  class="form-group">
                    <input ref='email' autocorrect="off" autocapitalize="off" id="email" type="input" name="email" placeholder="enter email" class="form-control"/>
                    <input type="hidden" value="true" name="springRememberMe" />
                    <input type="hidden" name="scope" value="public_profile,email,user_friends">
                </div>
            </div>
            <div class="row">
                <div class="btn-group col-md-6 col-sm-12 col-xs-12 login-options">
                    <button class="btn btn-sm btn-primary btn-responsive" type="submit">
                        Submit
                    </button>
                </div>
            </div>  <div style="margin-top:10px;">
           </div>

        </div>
            </form>
        </div>
    </div>
    <!--
  <div class="row">
      <div class="col-md-offset-3 col-md-6">
          <div id="login-app">
              <h2 class="form-signin-heading">Please </h2>
              <form  id="login" action="/app/login" method="post">
                  <div class="form-field form-group">
                      <div  class="form-group">
                          <input id="username" type="input" name="username" placeholder="enter email" class="form-control"/>
                      </div>
                      <div class="form-group">
                          <input id="password"  type='password' name='password' placeholder='enter password' class="form-control" > </input>
                      </div>
                  </div>
                  <div class="btn-group  login-options">
                      <input id="submit" type="submit" value="login">
                  </div>
              </form>
          </div>
      </div>
  </div>
  -->
</div>
</body>
</html>
