<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div xmlns:th="http://www.thymeleaf.org">
    <div class="table-responsive">
    <table id="table-team-standings" class="table table-stats">
        <thead>
        <tr>
            <th>#</th>
            <th>S</th>
            <th>Team</th>
            <th>W</th>
            <th>L</th>
            <th>RW</th>
            <th>RL</th>
            <th>PCT</th>
            <!--<th th:if="${user.isAdmin()}" >F</th>-->
        </tr>
        </thead>
        <tfoot>
        <tr></tr>
        </tfoot>
        <tbody>
        <tr  th:each="team : ${displayTeams}">
            <td th:text="${team.getStats().getRank()}"></td>
            <td class="schedule-link">
                <a th:id="'team-schedule-link-' + ${team.getId()}"
                       th:href="@{/app/schedule/{id} (id=${team.getSeason().getId()},teamId=${team.getId()})}">
                   <i class="fa fa-calendar fa-fw"></i>
                </a>
            </td>
            <td><a th:id="'team-standing-link-' + ${team.getId()}"
                       th:href="@{/app/display/{id}/{teamId}(id=${team.getSeason().getId()},teamId=${team.getId()})}"
                       th:text="${team.getName()}"></a>
            </td>
            <td th:text="${team.getStats().getWins()}"></td>
            <td th:text="${team.getStats().getLoses()}"></td>
            <td th:text="${team.getStats().getRacksWon()}"></td>
            <td th:text="${team.getStats().getRacksLost()}"></td>
            <td th:text="${'% ' + #numbers.formatDecimal(team.getStats().getRackPct()*100,0,2)}"></td>
            <!--<td th:if="${user.isAdmin()}" th:text="${team.getStats().getForfeits()}"></td>-->
        </tr>
        </tbody>
    </table>
    </div>
</div>