@charset "UTF-8";

/* CSS  */
@import url("//hello.myfonts.net/count/2ae551");

nav
{
  display: block; 
}

@font-face 
{
	font-family: 'Coldsmith';
	src: url('fonts/2AE551_0_0.eot');
	src: url('fonts/2AE551_0_0.eot?#iefix') format('embedded-opentype'),
		 url('fonts/2AE551_0_0.woff') format('woff'),
		 url('fonts/2AE551_0_0.ttf') format('truetype'),
		 url('fonts/2AE551_0_0.svg#svgColdsmith') format('svg');
}

* 
{
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html 
{
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-family: sans-serif;
}

dl, menu, ul 
{
	margin: 1em 0
}

menu, ul 
{
	padding: 0 0 0 40px
}

nav ul
{
	list-style: none;
	list-style-image: none
}

ul 
{
	padding: 0;
	list-style-type: none
}

.clearfix 
{
	zoom: 1
}

.clearfix:before, .clearfix:after 
{
	content: "";
	display: table;
}

.clearfix:after 
{
	clear: both
}

/*
body 
{
	font-family: "Helvetica",Arial,sans-serif;
	font-size: 100%;
	line-height: 1.5;
	margin: 0 auto;
	color: #565656
}
*/
.wrap 
{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
}

a, a:visited 
{
	color: #fff;
	text-decoration: none;
}

a:hover, a:focus, a:visited:hover, a:visited:focus 
{
	color: #CCC;
	text-decoration: underline;
}

a:link, a:visited:link 
{
	-webkit-tap-highlight-color: rgba(0,0,0,0.3)
}

#logo 
{
	float:left;
	display:block;
	margin: 0px 0px; 
	padding:0px 0px;
	width: 100%;
	height:75px;
	background-image: url(images/sbb-logo.jpg);
	background-size: 100% 100%;
	background-repeat:no-repeat;	
}

#logo a 
{
	display: block;
	width: 100%;
	height: 100%;
}

.nav111 
{
	border-bottom: 0px #fff solid;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	float: left;
	font-family:'Helvetica';
	overflow:hidden;
	width: 100%;
}

.nav111 ul 
{
	margin: 0px 0px;
	padding: 0px 0px;
	float: left;
	list-style-type: none;
	font-family:'Helvetica';
	width: 100%;
}

.nav111 li 
{
	float:left;
	height: 45px;
	display: block;
	background-color: #000;
	width: 25%;
	font-size: .6em;
	margin: 0px 0px;
	border-top: 2px #fff solid;
	border-left: 2px #fff solid;
}

.nav111 li a 
{
	float:left;
	background-color: transparent;	
	margin: 5px 0px 0px 0px;
	padding: 10px 10px 0px 10px;
	border-left:none;
	border-bottom:none;
	border-right:none;
	color: #fff;
	text-decoration: none;
	text-align: center;
	width: 100%;
}

.nav111 li.nomargin
{
	border-right: 2px #fff solid;
}

.nav111 li.last 
{
	border-left: 2px #fff solid;
	border-right: 0px #fff solid;
	width: 75%;
}

.nav111 li.last a 
{
	width: 99%;
}

.nav111 li:hover, .nav111 li a:focus,.nav111 li.current_page_item 
{
	background: url(images/nav-bg.jpg) repeat-x left;		
}

.nav111 li:hover a, .nav111 li.current_page_item a 
{
	border-left:none;
	border-bottom:none;
	border-right:none;
	color: #fff;
	text-align: center;
}

.nav111 li ul.sub-menu li a, .nav111 li ul.children li a 
{
	padding-left: 30px
}

@media only screen and (min-width: 481px) 
{

	#logo 
	{
		height: 150px;
		background-color: #000;
		background-image: url(images/sbb-logo.jpg);
		background-size:100% 100%;	
	}

	.nav111 
	{
		width: 100%;
		overflow: hidden;
	}

	.nav111 li 
	{
		font-size: .8em;
		width: 25%;
	}

	.nav111 li a 
	{
		float:left;
		background-color: transparent;	
		margin: 3px 0px;
		padding: 10px 15px 10px 15px;
		border-left:none;
		border-bottom:none;
		border-right:none;
		color: #fff;
		text-decoration: none;
		text-align: center;
		width: 100%;
	}

	.nav111 li:hover, .nav111 li a:focus,.nav111 li.current_page_item 
	{
		background: url(images/nav-bg.jpg) repeat-x left;		
	}

	.nav111 li:hover a, .nav111 li.current_page_item a 
	{
		border-left:none;
		border-bottom:none;
		border-right:none;
		color: #fff;
		text-align: center;
	}
}

@media only screen and (min-width: 768px) 
{
	#content 
	{
		margin: 5px 0;
	}
	
	.menuCol 
	{
		width: 50%;
	}

	.menuHeader 
	{
		margin: 0px 0px 20px 0px;
		padding: 0px 0px;
		height: 30px;
		font-size: 14px;
	}

	.menuHeader span 
	{
		width: 40%;
		margin: 0px 0px;
		padding: 0px 0px 0px 0px;
		height: 30px;
		text-indent: 10px;
		line-height: 31px;
	}
	
	.first 
	{
		margin-left: 0
	}
	
	.last 
	{
		float: right
	}
	
	.wrap 
	{
		min-width: 940px;
		max-width: 940px;
	}

	#logo 
	{
		float:left;
		margin: 0px 0px; 
		padding:0px 0px;
		min-width: 22%;
		max-width: 22%;
		height: 114px;
		background-image: url(images/sbb-logo.jpg);
		background-size:autos;	
	}

	.nav111 
	{
		margin: 0px 0px;
		padding: 0px 0px;
		float: left;
		border: 0;
		font-family:'Helvetica';
		max-width: 77.6%;
		min-width: 77.6%;
		background-color: #000;
	}

	.nav111 ul 
	{
		margin: 0px 0px;
		padding: 0px 0px;
		float: left;
		width: auto;
		list-style-type: none;	
	}

	.nav111 li 
	{
		float:left;
		min-height: 114px;
		margin: 0px 0px;
		background-color: #000;
		font-size: 13px;
		width: auto;
		border-top: none;
		border-left:none;
	}

	.nav111 li#menuexpand 
	{
		display:none;
	}

	.nav111 li.last 
	{
		border-left: none;
		border-right: none;
		width: auto;
	}

	.nav111 li.last a 
	{
		width: auto;
	}

	.nav111 li.nomargin 
	{
		border-right: none;
	}

	.nav111 li a 
	{
		float:left;
		display: block;
		background-color: transparent;	
		margin: 0px 5px 5px 5px;
		padding: 78px 10px 10px 10px;
		border-left:1px #000 solid;
		border-bottom:1px #000 solid;
		border-right:1px #000 solid;
		color: #fff;
		min-width: 64px;
		text-decoration: none;
		width: auto;
	}

	.nav111 li:hover, .nav111 li a:focus,.nav111 li.current_page_item a 
	{
		background: url(images/nav-bg.jpg) repeat-x left;
		width: auto;		
	}

	.nav111 li:hover a,.nav111 li.current_page_item a 
	{
		width: auto;
		border-left:1px #fff solid;
		border-bottom:1px #fff solid;
		border-right:1px #fff solid;
	}

	.nav111 li.nav111MarginLeft 
	{
		margin-left: 0px;
	}

	.nav111 li ul.sub-menu, .nav111 li ul.children 
	{
		margin-top: 0;
		border: 1px solid #ccc;
		border-top: 0;
		position: absolute;
		overflow: hidden;
		visibility: hidden;
		z-index: 8999
	}

	.nav111 li ul.sub-menu li a, .nav111 li ul.children li a 
	{
		padding-left: 10px;
		border-right: 0;
		display: block;
		width: 180px;
		border-bottom: 1px solid #ccc
	}
	
	.nav111 li ul.sub-menu li:last-child a, .nav111 li ul.children li:last-child a 
	{
		border-bottom: 0
	}

	.nav111 li:hover ul 
	{
		top: auto;
		overflow: visible;
		visibility: visible
	}
}

@media only screen and (min-width: 1400px) 
{
	.wrap 
	{
		min-width: 1400px;
		max-width: 1400px;
	}

	#logo 
	{
		float:left;
		margin: 0px 0px; 
		padding:0px 0px;
		min-width: 16%;
		max-width: 16%;
		height: 114px;
		background-image: url(images/sbb-logo.jpg);
		background-size: auto;	
	}

	.nav111 
	{
		margin: 0px 0px;
		padding: 0px 0px;
		float: left;
		border: 0;
		font-family:'Helvetica';
		max-width: 83.6%;
		min-width: 83.6%;
		background-color: #000;
	}
	
	.nav111 ul 
	{
		margin: 0px 0px;
		padding: 0px 0px;
		float: left;
		width: auto;
		list-style-type: none;	
	}

	.nav111 li 
	{
		float:left;
		min-height: 114px;
		margin: 0px 0px;
		background-color: #000;
		font-size: 16px;
		width: auto;
		border-top: none;
		border-left:none;
	}

	.nav111 li#menuexpand 
	{
		display:none;
	}
	
	.nav111 li.last 
	{
		border-left: none;
		border-right: none;
		width: auto;
	}
	
	.nav111 li.last a 
	{
		width: auto;
	}

	.nav111 li.nomargin 
	{
		border-right: none;
	}

	.nav111 li a 
	{
		float:left;
		display: block;
		background-color: transparent;	
		margin: 0px 5px 5px 5px;
		padding: 78px 10px 10px 10px;
		border-left:1px #000 solid;
		border-bottom:1px #000 solid;
		border-right:1px #000 solid;
		color: #fff;
		min-width: 100px;
		text-decoration: none;
		width: auto;
	}
}
